{
    font-family: 'Alibaba puhuiti';
    font-style: normal;
    src: url('fonts/alibaba-puhuiti-regular.ttf')
} {
    font-family: 'FiraCode';
    font-style: normal;
    src: url('fonts/FiraCode-Regular.ttf')
}
{
    font-family: 'GlowSansSC';
    font-style: normal;
    src: url('fonts/GlowSansSC-Normal-Regular.otf')
}
:root {
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-error: #d23f31;
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;
    --b3-font-family: 'GlowSansSC',"Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: 'FiraCode',mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-border-color: rgba(0, 0, 0, .1);
    --b3-scroll-color: rgba(0, 0, 0, .2);
    --b3-list-hover: rgba(0, 0, 0, .05);
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;
    --b3-vditor-code-background: rgba(27, 31, 35, .05);
    --b3-vditor-mark-heading-color: #660e7a;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #660e7a;
    --b3-vditor-mark-tag-color: #0033b3;
    --b3-vditor-inline-strong-color: #202124;
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #ffe955;
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #660e7a;
    --b3-table-border-color: rgba(26, 26, 26, 0.1);
    --b3-table-th-color: #4bacc6;
    --b3-table-trn-color: #b7dee8;
    --b3-table-tr2n-color: #ffffff;
    --b3-toolbar-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    --b3-card-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3)
}
.language-graphviz polygon {
    fill: transparent
}
.vditor-toolbar {
    background-color: var(--b3-theme-background) !important;
    box-shadow: var(--b3-toolbar-shadow)
}
.item--focus {
    background-color: var(--b3-theme-background) !important;
    color: #e34f8c;
    font-weight: 800;
    font-size: 16px
}
.vditor-ir__marker--info {
    color: var(--b3-vditor-inline-blockref-color) !important
}
.MathJax svg {
    font-size: 0.8em !important
}
.vditor ul ol,
.vditor ol ol,
.vditor ul ul,
.vditor ol ul {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: -0.9em !important;
    padding-left: 2.5em !important
}
.hljs-comment {
    font-style: normal !important;
    font-family: var(--b3-font-family-code)
}
.vditor-ir__marker--pre code {
    color: rgb(171, 178, 165);
    background-color: var(--b3-text-emphasize-color) !important
}
.vditor-ir__marker--script {
    font-family: var(--b3-font-family-code)
}
blockquote {
    border-left: 0.25em solid rgb(36 138 125) !important;
    border-radius: 5px;
    background-color: #2b363a !important;
    padding-left: 15px !important;
    box-shadow: var(--b3-card-shadow)
}
.vditor-reset .hljs,
.vditor-reset blockquote,
.vditor-reset table {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}
.vditor-reset table {
    box-shadow: var(--b3-card-shadow)
}
.vditor-reset table thead tr {
    background-color: var(--b3-table-th-color) !important
}
.vditor-reset table tbody tr:nth-child(2n + 1) {
    background-color: var(--b3-table-trn-color) !important
}
.vditor-reset table tbody tr:nth-child(2n) {
    background-color: var(--b3-table-tr2n-color) !important
}
.vditor-reset table tr th {
    border-left: 1px solid var(--b3-table-border-color);
    border-right: 1px solid var(--b3-table-border-color)
}
.vditor-reset table tr td {
    border-left: 1px solid var(--b3-table-border-color);
    border-right: 1px solid var(--b3-table-border-color)
}
.vditor-reset table tr th:first-child,
.vditor-reset table tr td:first-child {
    border-left-width: 0px
}
.vditor-reset table tr th:last-child,
.vditor-reset table tr td:last-child {
    border-right-width: 0px
}
.block__popover,
.vditor-ir div[data-type='block-ref-embed'] > div[data-render],
.vditor-ir div[data-type='block-query-embed'] > div[data-render] {
    box-shadow: var(--b3-card-shadow)
}
.vditor-ir
    div[data-type='block-query-embed']
    > div[data-render]
    > .fn__flex-column:not(:last-child)
    > .fn__flex-1 {
    border-bottom: 1px solid var(--b3-text-emphasize-color) !important
}
.vditor-ir__menu span {
    padding: 0 4px;
    margin-left: -1px;
    border-radius: 4px;
    height: 15px;
    min-width: 15px;
    background-color: var(--b3-text-emphasize-color);
    color: var(--b3-theme-on-surface);
    font-size: 10px;
    line-height: 15px
}
.vditor-reset > h1,
.vditor-reset > h2,
.vditor-reset > h3,
.vditor-reset > h4,
.vditor-reset > h5,
.vditor-reset > h6,
.vditor-reset > p,
.vditor-reset > blockquote,
.vditor-reset > .hjls,
.vditor-reset > table {
    margin-left: 5px
}
.vditor-counter {
    background-color: var(--b3-text-emphasize-color)
}
div[data-type='navigation'] .b3-list-item--focus,
.vditor-reset .b3-list-item--focus {
    background-color: #2c313a !important
}
.block__icons {
    box-shadow: var(--b3-toolbar-shadow);
    background-color: var(--b3-theme-surface)
}
.vditor-ir__blockref {
    color: #f58484;
    border: 1px;
    border-bottom: 1px dashed var(--b3-text-border-color) !important
}
.vditor-ir__link:hover {
    cursor: pointer;
    color: rgb(184, 93, 57);
    text-decoration: underline
}
.vditor-ir__link {
    color: #1d99ec;
    text-decoration: none
}
.vditor-reset hr {
    background-color: #abb2bf
}
.vditor-reset code:not(.hljs) {
    padding: 0.2em 0.5em;
    margin: 6px;
    font-size: 85%;
    border-radius: 8px;
    font-family: var(--b3-font-family-code);
    word-break: break-word;
    background-size: 20px 20px;
    white-space: pre-wrap;
    background-color: rgb(44 79 84);
    box-shadow: rgb(8 121 136) 1px 0px 5px 1px inset
}
.hljs {
    line-height: 24px;
    background-color: #1a1e1f !important;
    box-shadow: 0px 0px 10px rgb(0 0 0)
}
.vditor-task input[type='checkbox'] {
    margin-right: 0.5em
}
.vditor-task input[type='checkbox']:before {
    content: '';
    display: inline-block;
    cursor: pointer;
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: middle;
    text-align: center;
    border: 0px;
    border-radius: 3px;
    background-color: hsl(197, 9%, 52%);
    margin-top: -0.3rem;
    margin-left: -0.1rem;
    box-shadow: var(--b3-card-shadow)
}
.vditor-task input[type='checkbox']:not([disabled]):not(:checked):hover:before {
    content: '\2713';
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: hsl(192, 3%, 66%)
}
.vditor-task input[type='checkbox']:checked:before {
    content: '\2713';
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(220, 220, 220);
    background-color: hsl(197, 44%, 41%)
}
.vditor-task input[type='checkbox']:checked:hover:before {
    content: '\2713';
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: rgb(220, 220, 220);
    background-color: hsl(197, 44%, 41%)
}
.vditor-task--done {
    text-decoration: line-through;
    color: #3d7179
}
.vditor-reset h1 {
    text-align: center;
    font-size: 26px;
    color: #aff6ff;
    border-bottom: 1px solid var(--b3-text-border-color) !important
}
.vditor-reset h1:after {
    content: '';
    display: block;
    margin: 0.2em auto 0;
    width: 100px;
    height: 2px;
    border-bottom: 2px solid #c9cbcf
}
.vditor-reset h2 {
    border-bottom: 1px solid var(--b3-text-border-color) !important;
    font-size: 24.8px;
    color: #66d9e8
}
.vditor-reset h3 {
    font-size: 20px;
    color: #15aabf;
    line-height: 20px;
    border-left: 6px solid #15aabf;
    text-align: justify;
    padding: 5px 0 5px 7px
}
.vditor-reset h4 {
    font-size: 18px;
    color: #03a1b9cc
}
.vditor-reset h5 {
    font-size: 16px;
    color: #03a1b9cc
}
.vditor-reset h6 {
    font-size: 16px;
    color: #03a1b9cc
}
.vditor-reset kbd {
    display: inline-block;
    padding: 2px 4px;
    font: 75% Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    line-height: 1;
    color: var(--b3-theme-on-surface);
    vertical-align: middle;
    background-color: #282c34;
    border: solid 1px rgb(97 112 144);
    border-radius: 3px;
    box-shadow: 0 1px 0px rgb(155 173 210 / 20%), 0 0 0 2px #314144 inset
}
.b3-list-item.b3-list-item--big:hover,
.b3-list-item.b3-list-item--big.b3-list-item--focus,
.b3-list-item.b3-list-item--hide-action:hover span:nth-child(2),
.b3-list--background .b3-list-item--focus:hover span:nth-child(2),
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(2),
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(3),
.b3-list-item:hover .b3-list-item__text,
.b3-list-item.b3-list-item--focus span:nth-child(2),
.vditor-counter.b3-tooltips.b3-tooltips__w,
.b3-list__header span:hover,
.b3-dialog__container svg:hover,
.b3-snackbar__close.fn__a:hover,
.vditor-toolbar .vditor-toolbar__item button:hover svg,
#toolbar div:hover,
.ft__primary:hover,
.block__icon.b3-tooltips.b3-tooltips__sw:hover {
    color: #e34f8c;
    background-color: #2c313a !important
}
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(2) {
    font-weight: 800;
    font-size: 16px;
    background-color: #2c313a !important
}
.b3-list-item.b3-list-item--focus span:nth-child(2) {
    font-weight: 800;
    font-size: 16px
}
.item--focus {
    background-color: #282c34 !important;
    color: #e34f8c;
    font-weight: 800;
    font-size: 16px
}
.layout-tab-bar .item__graphic {
    margin-right: 8px;
    height: 14px;
    width: 14px;
    display: none
}
.layout-tab-bar .item {
    padding: 5px 4px 5px 14px;
    border: 0px;
    border-right: 1px solid #1f1818;
    border-left: 1px solid #1f1818;
    border-radius: 7px 7px 0px 0px;
    border-top: 1px solid #dfe0e1
}
.layout__wnd--active .layout-tab-bar .item--focus {
    border-color: #282c34
}
.vditor-reset span[data-type='tag'] {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
    background-color: #e34f8c;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 0 4px;
    cursor: pointer;
    white-space: nowrap
}
.vditor-ir__tag {
    text-decoration: none;
    background-color: #e34f8c;
    color: #fff
}
.vditor-ir__node .vditor-ir__marker--tag {
    color: #fff
}
.vditor-reset .language-flowchart {
    text-align: center;
    background-color: #a5b3c7
}
.vditor-reset .language-plantuml {
    text-align: center
}
.vditor-reset .language-mermaid,
.vditor-reset .language-graphviz {
    text-align: center;
    background-color: #282c34
}
.vditor-reset img {
    max-width: 100%;
    cursor: pointer;
    box-shadow: 0px 3px 10px 3px rgb(6 6 6 / 30%);
    border-radius: 5px
}
.block__icons {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--b3-theme-surface)
}
{
    font-family: 'Alibaba puhuiti';
    font-style: normal;
    src: url('fonts/alibaba-puhuiti-regular.ttf')
}
:root {
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-error: #d23f31;
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;
    --b3-font-family: 'GlowSansSC',"Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: 'FiraCode',mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-border-color: rgba(0, 0, 0, .1);
    --b3-scroll-color: rgba(0, 0, 0, .2);
    --b3-list-hover: rgba(0, 0, 0, .05);
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    --b3-text-border-color: rgb(170, 178, 180);
    --b3-table-border-color: rgba(26, 26, 26, 0.1);
    --b3-table-th-color: #4bacc6;
    --b3-table-trn-color: #b7dee8;
    --b3-table-tr2n-color: #ffffff;
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --b3-toolbar-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    --b3-card-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;
    --b3-vditor-code-background: rgba(27, 31, 35, .05);
    --b3-vditor-mark-heading-color: #660e7a;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #660e7a;
    --b3-vditor-mark-tag-color: #0033b3;
    --b3-vditor-inline-strong-color: #202124;
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #ffe955;
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #660e7a
}
{
    font-family: 'Alibaba puhuiti';
    font-style: normal;
    src: url('fonts/alibaba-puhuiti-regular.ttf')
}
:root {
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-error: #d23f31;
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;
    --b3-font-family: 'GlowSansSC',"Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: 'FiraCode',mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-border-color: rgba(0, 0, 0, .1);
    --b3-scroll-color: rgba(0, 0, 0, .2);
    --b3-list-hover: rgba(0, 0, 0, .05);
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    --b3-text-border-color: rgb(170, 178, 180);
    --b3-table-border-color: rgba(26, 26, 26, 0.1);
    --b3-table-th-color: #4bacc6;
    --b3-table-trn-color: #b7dee8;
    --b3-table-tr2n-color: #ffffff;
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --b3-toolbar-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    --b3-card-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;
    --b3-vditor-code-background: rgba(27, 31, 35, .05);
    --b3-vditor-mark-heading-color: #660e7a;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #660e7a;
    --b3-vditor-mark-tag-color: #0033b3;
    --b3-vditor-inline-strong-color: #202124;
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #ffe955;
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #660e7a
}
 {
    font-family: 'Alibaba puhuiti';
    font-style: normal;
    src: url('fonts/alibaba-puhuiti-regular.ttf')
}
:root {
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-error: #d23f31;
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;
    --b3-font-family: 'GlowSansSC',"Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: 'FiraCode',mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-border-color: rgba(0, 0, 0, .1);
    --b3-scroll-color: rgba(0, 0, 0, .2);
    --b3-list-hover: rgba(0, 0, 0, .05);
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    --b3-text-border-color: rgb(170, 178, 180);
    --b3-table-border-color: rgba(26, 26, 26, 0.1);
    --b3-table-th-color: #4bacc6;
    --b3-table-trn-color: #b7dee8;
    --b3-table-tr2n-color: #ffffff;
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --b3-toolbar-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    --b3-card-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;
    --b3-vditor-code-background: rgba(27, 31, 35, .05);
    --b3-vditor-mark-heading-color: #660e7a;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #660e7a;
    --b3-vditor-mark-tag-color: #0033b3;
    --b3-vditor-inline-strong-color: #202124;
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #ffe955;
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #660e7a
}
