@font-face {
    /* 思源黑体 */
    font-family: 'SourceHan';
    font-style: normal;
    src: url('fonts/NotoSansSC-Regular.otf');
}
@font-face {
    font-family: 'FiraCode';
    font-style: normal;
    src: url('fonts/FiraCode-Regular.ttf');
}
@font-face {
    font-family: 'Win10 Emoji';
    font-style: normal;
    src: url('fonts/seguiemj.ttf');
}
:root {
    /* 主色 */
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    /* 多窗口为点到的标签页 */
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f8f8f8;
    --b3-theme-error: #eba7a0;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;
    /* 自定义文字 */
    --b3-font-color1: var(--b3-card-error-color);
    --b3-font-color2: var(--b3-card-warning-color);
    --b3-font-color3: var(--b3-card-info-color);
    --b3-font-color4: var(--b3-card-success-color);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color6: var(--b3-theme-primary);
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: var(--b3-theme-error);
    --b3-font-color9: #f5539e;
    --b3-font-color10: #944194;
    --b3-font-color11: #65b84d;
    --b3-font-color12: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: var(--b3-card-error-background);
    --b3-font-background2: var(--b3-card-warning-background);
    --b3-font-background3: var(--b3-card-info-background);
    --b3-font-background4: var(--b3-card-success-background);
    --b3-font-background5: var(--b3-theme-surface);
    --b3-font-background6: var(--b3-theme-primary-light);
    --b3-font-background7: rgba(217, 211, 215, 0.5);
    --b3-font-background8: rgba(255, 193, 153, 0.5);
    --b3-font-background9: rgba(189, 201, 255, 0.5);
    --b3-font-background10: rgba(239, 218, 251, 0.5);
    --b3-font-background11: rgba(234, 202, 220, 0.5);
    --b3-font-background12: rgba(253, 198, 200, 0.5);
    --b3-font-background13: var(--b3-theme-on-background);
    /* 字体 */
    --b3-font-family: 'SourceHan', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB',
        'Microsoft Yahei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji',
        'Win10 Emoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
    --b3-font-family-code: 'FiraCode', mononoki, Consolas, 'Liberation Mono', Menlo, Courier,
        monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Segoe UI Symbol',
        'Android Emoji', 'EmojiSymbols';

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, 0.1);

    /* 滚动条 */
    --b3-scroll-color: rgba(5, 50, 80, 0.2);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, 0.05);

    /* 页签 */
    --b3-tab-background: #e7edf0;
    --b3-tab-background-hover: #dee4e8;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    --b3-text-border-color: rgb(170, 178, 180);
    /* 表格 */
    --b3-table-border-color: #dfe0e1;
    --b3-table-th-color: #d0d6d85b;
    --b3-table-trn-color: #f8f9fa;
    --b3-table-tr2n-color: #f0f4f5;
    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 动画效果 */
    --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 1px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --b3-toolbar-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    --b3-card-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80ffa5;
    --b3-graph-code-point: #00ddff;
    --b3-graph-table-point: #37a2ff;
    --b3-graph-list-point: #ff0087;
    --b3-graph-todo-point: #ffbf00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;

    /* 编辑器搜索颜色 */
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-vditor-code-background: #f0f3f5;

    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #660e7a;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #660e7a;
    --b3-vditor-mark-tag-color: #0033b3;

    /* 即时渲染行内元素颜色 */
    --b3-vditor-inline-strong-color: #202124;
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-link-hover-color: #fa60a0;
    --b3-vditor-inline-mark-background: #fff6bc;
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #eb84add8;
    --b3-vditor-inline-tag-text-color: #f8f9fa;
    /* 块引用 */
    --b3-vditor-inline-blockref-color: #f58484;
    --b3-vditor-inline-blockref-hover-color: #ff398b;
    /* 高亮 */
    --b3-menu-highlight-color: #068eb8;
    --b3-menu-highlight-focus-color: #34495e;
    /* 文件树背景高亮颜色 */
    --b3-menu-hover: #e5eced9c;
}

/* ❗Markdown图表样式 */

.language-graphviz polygon {
    fill: transparent;
}

.vditor-reset .language-flowchart {
    text-align: center;
    /* background-color: #a5b3c7; */
}
.vditor-reset .language-plantuml {
    text-align: center;
}
.vditor-reset .language-mermaid,
.vditor-reset .language-graphviz {
    text-align: center;
}
/* sql查询块 */
span[data-type='block-query-embed-script'] {
    color: #7f8181 !important;
}

/* 列表样式 */
.vditor-reset ul {
    color: grey;
}
.vditor-reset ul > li:not(.vditor-task) {
    list-style-type: disc;
}
.vditor-preview li {
    color: var(--b3-theme-on-background); 
}
.vditor-reset ul li p {
    color: var(--b3-theme-on-background); 
}
.vditor-reset table {
    color: var(--b3-theme-on-background);
}

/* 列表框线 */
.vditor ul ol,
.vditor ol ol,
.vditor ul ul,
.vditor ol ul {
    border-left: 1px solid rgba(19, 18, 18, 0.2);
    margin-left: -0.93em !important;
    padding-left: 2.5em !important;
}
/* 调整列表间距 */
.vditor-reset li p{
    margin-bottom: 2px;
}

.hljs-comment {
    font-style: normal !important;
    font-family: var(--b3-font-family-code);
}
.vditor-ir__marker--script {
    font-family: var(--b3-font-family-code);
}
/* 引用块修改 */
blockquote {
    border-left: 0.25em solid #b5cfd3 !important;
    border-radius: 0.31em;
    background-color: rgba(66, 185, 185, 0.05) !important;
    padding-left: 1em !important;
}
.vditor-reset .hljs,
.vditor-reset blockquote,
.vditor-reset table {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
/* 表格 */
.vditor-reset table thead tr {
    background-color: var(--b3-table-th-color) !important;
}
.vditor-reset table tbody tr:nth-child(2n + 1) {
    background-color: var(--b3-table-trn-color) !important;
}
.vditor-reset table tbody tr:nth-child(2n) {
    background-color: var(--b3-table-tr2n-color) !important;
}
.vditor-reset table tr th {
    border-left: 1px solid var(--b3-table-border-color);
    border-right: 1px solid var(--b3-table-border-color);
}
.vditor-reset table tr td {
    border-left: 1px solid var(--b3-table-border-color);
    border-right: 1px solid var(--b3-table-border-color);
}
.vditor-reset table tr th:first-child,
.vditor-reset table tr td:first-child {
    border-left-width: 0px;
}
.vditor-reset table tr th:last-child,
.vditor-reset table tr td:last-child {
    border-right-width: 0px;
}
.block__popover,
.vditor-ir div[data-type='block-ref-embed'] > div[data-render],
.vditor-ir div[data-type='block-query-embed'] > div[data-render] {
    box-shadow: var(--b3-card-shadow);
}
.vditor-reset
    div[data-type='block-query-embed']
    > div[data-render]
    > .fn__flex-column:not(:last-child)
    > .fn__flex-1 {
    border-bottom: 1px solid var(--b3-text-emphasize-color) !important;
}
.vditor-ir__menu span {
    padding: 0 4px;
    margin-left: -1px;
    border-radius: 4px;
    height: 15px;
    min-width: 15px;
    background-color: var(--b3-list-hover);
    color: var(--b3-theme-on-surface);
    font-size: 10px;
    line-height: 15px;
}

.vditor-counter {
    background-color: var(--b3-text-emphasize-color);
}

/* 块引用 */
.vditor-ir__blockref {
    color: var(--b3-vditor-inline-blockref-color); /*更改颜色*/
    padding-bottom: 0.1em;
    border-bottom: 1px dashed var(--b3-vditor-inline-blockref-color); /*下划线可以去掉*/
}
.vditor-ir__blockref:hover,
div[data-type='block-ref-embed'] .vditor-ir__blockref[data-type='ref-text-tpl-render-result'],
div[data-type='block-render'] .vditor-ir__blockref[data-type='ref-text-tpl-render-result']:hover {
    color: var(--b3-vditor-inline-blockref-hover-color); /*更改鼠标悬浮的颜色*/
    border-bottom: 1px dashed var(--b3-vditor-inline-blockref-hover-color); /*下划线可以去掉*/
}
div[data-type='block-render'] {
    margin-top: 5px;
}

/* 块引用悬浮动画 */
.block__popover.block__popover--move.block__popover--open {
    animation: showBlock 0.4s ease;
}
@keyframes showBlock {
    0% {
        border-radius: 50%;
        transform: rotateY(80deg);
    }
    100% {
        border-radius: 0;
    }
}
div[data-type='block-render'] {
    margin-top: 5px;
}
/* 块嵌入颜色与块引用区分 */
div[data-type='block-render'] .vditor-ir__blockref[data-type='ref-text-tpl-render-result'] {
    color: var(--b3-vditor-inline-blockref-color); /*更改颜色*/
    padding-bottom: 0.1em;
    border-bottom: 1px dashed var(--b3-vditor-inline-blockref-color); /*下划线可以去掉*/
}
/* 块嵌入内容分割线 */
.vditor-ir
    div[data-type='block-query-embed']
    > div[data-render]
    > .fn__flex-column:not(:last-child)
    > .fn__flex-1 {
    border-bottom: 2px solid #d5dde2 !important;
}
/* 块嵌入背景颜色 */
/* div[data-type='block-ref-embed'] div[data-type="block-render"] .vditor-ir {
    background-color: #eff6f6 !important;
} */

/* 文件树中区别文件数和引用数 */
li[data-type='navigation-file'] .counter {
    color: #d747475d;
    /* background-color: #dfdfdf9e; */
    font-weight: 800;
    background: transparent !important;
}
/* 内容中的引用效果 */
.vditor-ir__menu span {
    padding: 0 4px;
    margin-left: -1px;
    border-radius: 4px;
    height: 15px;
    min-width: 15px;
    background-color: #e1e1e1ad;
    color: #d747475d;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
}
/* 超链接样式 */
.vditor-ir__node .vditor-ir__link {
    color: var(--b3-vditor-inline-link-color);
    text-decoration: underline;
}

/* 超链接hover鼠标样式改变 */
/* .vditor-ir__node .vditor-ir__link:hover {
    cursor: pointer;
    color: var(--b3-vditor-inline-link-hover-color);
    text-decoration: underline;
} */
span[data-type='a']:hover code {
    cursor: pointer;
    color: var(--b3-vditor-inline-link-hover-color) !important;
}
span[data-type='a']:hover .vditor-ir__link {
    cursor: pointer;
    color: var(--b3-vditor-inline-link-hover-color) !important;
    text-decoration: underline;
}

/* 分割线显示 */
.vditor-reset hr {
    background-color: #abb2bf;
}
/* 行内代码块 */
.vditor-reset code:not(.hljs):not([data-type='math-inline']) {
    padding: 0.2em 0.5em;
    margin: 0px 2px;
    font-size: 85%;
    border-radius: 0.5em;
    font-family: var(--b3-font-family-code);
    word-break: break-word;
    background-size: 20px 20px;
    white-space: pre-wrap;
    color: #038296;
    background-color: #e0ecf3a6;
}

/* 行内公式块样式*/
.vditor-reset code[data-type='math-inline'] {
    color: rgb(44, 23, 23);
    background-color: #edf0f2;
}
/* 行内公式字体大小 */
[data-type='inline-math'] .katex {
    font: normal 1em KaTeX_Main, Times New Roman, serif !important;
}
.vditor-preview .language-math .katex {
    font: normal 1em KaTeX_Main, Times New Roman, serif !important;
}
[data-type='inline-math'] .MathJax {
    font-size: 1em !important;
}

/* 公式块字体大小 */
[data-type='math-block'] .katex {
    font: normal 1em KaTeX_Main, Times New Roman, serif !important;
}
.vditor-preview .language-math > .katex-display {
    font: normal 1em KaTeX_Main, Times New Roman, serif !important;
}
[data-type='math-block'] .MathJax {
    font-size: 1.11em !important;
}

/* 修复1.1.3后公式块与正文间距变大的问题 */
.vditor-reset mjx-container[jax='SVG'][display='true'],
.vditor-reset .katex-display {
    padding: 0em 0;
    margin: 0;
}
/* 公式换行调大距离 */
.katex .katex-html > .newline {
    padding-bottom: 0.5em;
}

/* 略微修复公式分式较小的问题 */
[data-type='inline-math'] .mfrac {
    /* 行内分式公式 */
    font-size: 1.4em;
}
.minner .mfrac {
    /* 公式块分式字体调整 */
    font-size: 1.1em !important;
}

/* --------------------------代码块样式------------------------------------------- */
/* 代码编辑区样式 */
.vditor-ir__marker--pre code {
    background-color: #f0f3f5a8 !important;
}
/* 代码块样式 */
.vditor-reset pre > .hljs {
    position: relative;
    display: block;
    background-color: #e7ecef !important;
    color: #353739 !important;
    padding-left: 2em;
    padding-top: 32px !important;
    background-image: none !important;
}

.vditor-copy {
    display: block !important;
}
.vditor-copy span {
    opacity: 0;
}
pre:hover .vditor-copy span {
    opacity: 1;
    transition: all 0.3s linear;
}
.vditor-copy span:hover::before {
    transform: rotate(90deg) translateX(-11.5px) translateY(-4px);
    border-left-color: #93bac6;
}
.vditor-copy span:hover::after {
    transform: translateX(27px) translateY(-16px);
    background-color: #93bac6;
}
.vditor-preview .vditor-copy::before {
    content: ' ';
    background: #fc625d;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
    left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
}
.vditor-ir div[data-type="code-block"] pre::before {
    content: '';
    background: #fc625d;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
    margin-left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
}

/* 考虑显示行号时的缩进 */
.vditor-linenumber {
    padding-left: 4em !important;
}
.vditor-linenumber__rows {
    padding-top: 25.3px !important;
}
/* 代码编辑区的代码语言字体颜色 */
.vditor-ir__marker--info {
    color: #7f8181 !important;
}
/*仿照Blue_Topaz主题，渲染块显示所用代码语言*/

/* .hljs:before {
    position: absolute;
    display: inline-block;
    right: 40px;
    top: 0.45em;
    color: #b8bec2 !important;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
} */
.hljs:before {
    float: right;
    position: sticky;
    left: 622px;
    margin-right: 50px;
    margin-top: -2em;
    color: #b8bec2 !important;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
}

code[class~='language-js']:before {
    content: 'JS';
}

code[class~='language-javascript']:before {
    content: 'JS';
}
code[class~='language-c']:before {
    content: 'C';
}
code[class~='language-cpp']::before {
    content: 'C++';
}

code[class~='language-java']::before {
    content: 'JAVA';
}

code[class~='language-python']:before {
    content: 'PYTHON';
}
code[class~='language-Python']:before {
    content: 'PYTHON';
}

code[class~='language-nginx']:before {
    content: 'NGINX';
}
code[class~='language-html']::before {
    content: 'HTML';
}
code[class~='language-css']:before {
    content: 'CSS';
}
code[class~='language-json']:before {
    content: 'JSON';
}
code[class~='language-go']:before {
    content: 'GO';
}
code[class~='language-php']:before {
    content: 'PHP';
}
code[class~='language-shell']:before {
    content: 'SHELL';
}
code[class~='language-bash']:before {
    content: 'BASH';
}

code[class~='language-flow']:before {
    content: 'FLOW';
}

code[class~='language-sequence']:before {
    content: 'SEQUENCE';
}

code[class~='language-sql']:before {
    content: 'SQL';
}

code[class~='language-yaml']::before {
    content: 'YAML';
}

code[class~='language-ini']::before {
    content: 'INI';
}

code[class~='language-xml']::before {
    content: 'XML';
}

code[class~='language-git']::before {
    content: 'GIT';
}

code[class~='language-plaintext']::before {
    content: 'TEXT';
}
code[class~='language-markdown']::before {
    content: 'MARKDOWN';
}
code[class~='language-matlab']::before {
    content: 'MATLAB';
}
code[class~='language-r']::before {
    content: 'R';
}
code[class~='language-R']::before {
    content: 'R';
}
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* ---------------------复选框（待办事项）Start------------------------------------------------ */

/* 默认复选框样式 */
.vditor-task input[type='checkbox'] {
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 0em;
    right: -0.1em;
    margin-right: 0.6em;
    font-size: 1em;
    width: 1em;
    height: 1em;
    border-radius: 0.17em;
}

/* 自定义样式 */
.vditor-task input[type='checkbox']:before {
    content: '';
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 1.1em;
    height: 1.1em;
    vertical-align: middle;
    text-align: center;
    border: 0px;
    border-radius: 0.17em;
    background-color: #c7ced1;
    top: -0.1em;
    left: -0.1em;
    font-size: 1.1em;
}
/* 复选框未选中，鼠标悬停 */
.vditor-task input[type='checkbox']:not([disabled]):not(:checked):hover:before {
    content: '\2713';
    font-size: 1.1em;
    line-height: 1.1em;
    color: #a6aaab;
}
/* 复选框选中 */
.vditor-task input[type='checkbox']:checked:before {
    content: '\2713';
    font-size: 1.1em;
    line-height: 1.1em;
    color: #f8f9fa;
    background-color: #a0d1e7;
}
/* 复选框选中 ，鼠标悬停 */
.vditor-task input[type='checkbox']:checked:hover:before {
    content: '\2713';
    font-size: 1.2em;
    line-height: 1.2em;
    color: #f8f9fa;
    background-color: #a0d1e7;
}
/* 完成的待办事项 */
.vditor-reset .vditor-task {
    color: var(--b3-theme-on-background);
}
.vditor-reset .vditor-task--done {
    /* 完成的待办事项删除线 */
    /* text-decoration: line-through; */
    /* 字体颜色 */
    color: #6791a396 !important;
}

.vditor-task--done strong {
    /* 加粗样式调整 */
    color: #98bdc2bd !important;
}

.vditor-task--done .vditor-ir__node .vditor-ir__link {
    /* 超链接调整 */
    color: #8cb5bb !important;
    text-decoration: underline;
}
.vditor-task--done .vditor-ir__node .vditor-ir__link:hover {
    /* 超链接悬浮调整 */
    color: rgb(184, 57, 135) !important;
    text-decoration: underline;
}
.vditor-task--done .vditor-ir__node mark {
    /* 高亮调整 */
    background-color: rgba(201, 228, 233, 53%);
    color: #8cb5bb;
}
/* 对完成的待办事项内容全部调整透明度 */
.vditor-task--done {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.vditor-task--done:hover {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
/* ---------------------------复选框 End ------------------------------------------ */

/* -------------------------------标题样式-------------------------------------- */

.vditor-reset h1 {
    /* 如果需要左侧对齐，直接把下面一行注释*/
    text-align: center;
    border-bottom: 0px solid #c5c7ca !important;
    font-size: 1.75em;
    color: #04393f;
}
/* h1短下划线 */
/* .vditor-reset h1:after {
    content: '';
    display: block;
    margin: 0.2em auto 0;
    width: 4em;
    height: 2px;
    border-bottom: 2px solid #dfe0e1;
} */
.vditor-reset h2 {
    /* text-align: center; */
    border-bottom: 1px solid #dfe0e1 !important;
    font-size: 1.55em !important;
    color: #34495e;
    padding: 0.3em 0px !important;
}

.vditor-reset h3 {
    position: relative;
    font-size: 1.25em;
    color: rgb(21, 170, 191);
    line-height: 1.25em;
    border-left: 4px solid rgb(21, 170, 191);
    text-align: justify;
    padding: 5px 0px 0px 7px;
    margin-top: 19px;
    /* margin-bottom: 16px; */
    padding-left: 7px;
}

.vditor-reset h4 {
    font-size: 1.125em;
    color: #03a1b9cc;
}
.vditor-reset h5 {
    font-size: 1em;
    color: #03a1b9cc;
}
.vditor-reset h6 {
    font-size: 1em;
    color: #03a1b9cc;
}

/* 标题样式End */
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* ❗focus高亮部分 */

.b3-list-item.b3-list-item--big:hover,
.b3-list-item.b3-list-item--big.b3-list-item--focus,
.b3-list-item.b3-list-item--hide-action:hover span:nth-child(2),
.b3-list--background .b3-list-item--focus:hover span:nth-child(2),
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(2),
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(3),
.b3-list-item:hover .b3-list-item__text,
.b3-list-item.b3-list-item--focus span:nth-child(2),
.vditor-counter.b3-tooltips.b3-tooltips__w,
.b3-list__header span:hover,
.b3-snackbar__close.fn__a:hover,
.vditor-toolbar .vditor-toolbar__item button:hover svg,
#toolbar div:hover,
.ft__primary:hover,
.block__icon.b3-tooltips.b3-tooltips__sw:hover {
    /* 原来的颜色 */
    /* color: #e34f8c; */
    color: var(--b3-menu-highlight-color);
    /* background-color: var(--b3-menu-hover); */
}
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(2) {
    transition: all 0.2s ease-in-out;
}
/* .b3-list-item:hover悬浮的样式 */
.file-tree .b3-list .b3-list-item:hover {
    color: var(--b3-menu-highlight-color);
    /* background-color: var(--b3-menu-hover); */
    background-color: transparent;
}
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(3) {
    color: var(--b3-menu-highlight-focus-color) !important;
}
/* 文件树选中,图标也改变 */
.b3-list-item--focus {
    color: var(--b3-menu-highlight-focus-color);
    font-weight: bold;
    background-color: var(--b3-menu-hover) !important;
}
/* 文件树选中的外围 */
div[data-type='navigation'] .b3-list-item--focus,
.vditor-reset .b3-list-item--focus {
    color: var(--b3-menu-highlight-focus-color);
    background-color: var(--b3-menu-hover) !important;
}
/* 文件树选中的中间文字的部分 */
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:nth-child(2) {
    font-weight: 800;
    font-size: 15px;
    color: var(--b3-menu-highlight-focus-color);
    background-color: var(--b3-menu-hover);
}
.b3-list-item.b3-list-item--hide-action.b3-list-item--focus span:hover {
    background-color: var(--b3-menu-hover);
}

/* 设置列表选中取消背景色 */
.b3-dialog__container .b3-list--background .b3-list-item--focus {
    background-color: transparent !important;
    border: 0px;
}
/* 设置列表悬空去掉背景色 */
.b3-dialog__container .b3-list-item:hover {
    background-color: transparent;
}
/* 设置界面的选中增强 */
.b3-list-item.b3-list-item--big:hover,
.b3-list-item.b3-list-item--big.b3-list-item--focus {
    font-size: 1.05em;
    font-weight: bold;
    color: var(--b3-menu-highlight-color);
}
/* 调整设置的select按钮 */
.b3-tab-container .b3-select {
    background-color: #e1e7eb;
}

.b3-tab-container .b3-select option {
    background-color: #edf2f5;
}
/* 面板列表项 选中状态*/
.b3-dialog__container .b3-list-item.b3-list-item--focus span:nth-child(2) {
    color: var(--b3-menu-highlight-focus-color);
    background-color: transparent;
}
.b3-dialog__container .b3-list--background .b3-list-item--focus[data-type='search-item'] {
    background-color: var(--b3-menu-hover) !important;
}
/* 面板列表项 悬浮文字项 */
.b3-dialog__container .b3-list-item:hover {
    background-color: transparent;
    color: var(--b3-menu-highlight-color);
}
.b3-dialog__container .b3-list-item:hover mark {
    color: var(--b3-menu-highlight-color);
}
.b3-dialog__container .b3-list-item--focus mark {
    color: var(--b3-menu-highlight-focus-color);
}
.b3-dialog__container .b3-list-item--focus:hover mark {
    color: var(--b3-menu-highlight-focus-color);
}
/* 按斜杆弹出的菜单 */
.b3-list--background .b3-list-item--focus {
    background-color: var(--b3-menu-hover) !important;
}
.b3-list--background .b3-list-item--focus .b3-list-item__text {
    color: var(--b3-menu-highlight-focus-color);
}
.b3-list--background .b3-list-item--focus span[class='b3-list-item__meta'] {
    color: var(--b3-menu-highlight-focus-color);
}
.b3-list--background .b3-list-item--focus:hover span[class='b3-list-item__meta'] {
    color: var(--b3-menu-highlight-focus-color) !important;
}
/* hover取消背景 */
.layout-tab-container .b3-list--background button:hover {
    background-color: transparent;
}
/* hover文字取消背景 */
.layout-tab-container .b3-list--background .b3-list-item:hover span[class='b3-list-item__text'] {
    background-color: transparent;
}
/* 弹出菜单后面的符号 */
.layout-tab-container .b3-list--background .b3-list-item:hover span[class='b3-list-item__meta'] {
    color: var(--b3-menu-highlight-color);
}

/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* ❗标签页样式 */
.layout-tab-bar .item {
    padding: 4px 4px 4px 14px;
    border: 0px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #b7b8b97c;
    border-left: 2px solid #b7b8b97c;
    border-radius: 7px 7px 0px 0px;
    margin-right: 2px;
    background-color: #f0f3f5;
    transition: all 0.1s ease;
}

/* 选中的标签页 */
.layout-tab-bar .item--focus {
    color: #34495e7c;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 2px solid #c7d1d8c5;
    background-color: var(--b3-tab-background);
    border-right: 1px solid #b7b8b9;
    border-left: 1px solid #b7b8b9;
}

/* 多窗口foucs的标签页 */
.layout__wnd--active .layout-tab-bar .item--focus {
    color: var(--b3-menu-highlight-focus-color);
    border-color: #e9f1f5;
    /* 更改多窗口标签页当前页面底框高亮颜色 */
    border-bottom: 2px solid #34495e7c;
    /* background-color: #00aaff; */
}
/* 未保存样式 */
.layout__wnd--active .layout-tab-bar .item--unsave {
    border-bottom: 2px solid #c7d1d8c5;
}
/* 调整选中标签页文字最大宽度 */
.item--focus .item__text {
    max-width: 300px;
}
/* 文字超出范围的模糊效果 */
.layout-tab-bar .item--focus .item__text::after {
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.001), var(--b3-theme-surface));
    left: 294px;
}
/* 标签页按钮 */
.layout-tab-bar .item__close {
    margin-left: 8px;
    height: 8px;
    width: 8px;
    padding: 4px;
    border-radius: 10px;
    color: var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    background-color: #eef4f7;
}
/* 去掉标题栏的文件图标 */
.layout-tab-bar .item__graphic {
    margin-right: 8px;
    height: 14px;
    width: 14px;
    display: none;
}
/* 工具栏高亮 */
.vditor-toolbar__item.b3-menu__item--current,
.vditor-toolbar__item:hover:not(.b3-menu__item--disabled) {
    color: var(--b3-theme-on-primary);
    background-color: #7ca3af;
}
/* tab栏空白处背景 */
.layout-tab-bar {
    list-style: none;
    align-items: center;
    background-color: #f0f3f5;
    flex-wrap: wrap;
}
.vditor-toolbar {
    background-color: var(--b3-tab-background);
}

/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* 文件树列表样式 */
.layout-tab-container .b3-list-item {
    line-height: 30px;
    padding: 0px 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    background-color: transparent;
    text-align: left;
    border: 0px;
    /* 选中项的圆角 */
    border-radius: 10px 10px 10px 10px;
}

.b3-list--background .b3-list-item--focus {
    border-radius: 0 15px 15px 0;
    /* border: 1px solid #f8f8f8; */
    border-left: 0px solid #ebebeb;
}
/* end */

/* ------------------------------------------------------------------ */
/* ❗标签样式 */

.vditor-reset span[data-type='tag'] {
    display: inline-flex;
    font-size: 85%;
    text-decoration: none !important;
    color: var(--b3-vditor-inline-tag-text-color);
    background-color: var(--b3-vditor-inline-tag-color);
    border-radius: 0.625em;
    padding: 0.08em 0.375em 0.08em !important;
    margin: 0em 0.25em;
    transform: translateY(-1.5px);
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 20;
}
.vditor-reset span[data-type='tag']:hover {
    transform: scale(1.15);
}
.vditor-ir__tag {
    text-decoration: none;
    color: var(--b3-vditor-inline-tag-text-color);
    vertical-align: middle;
}
/* 标签出现的#字 */
.vditor-ir__node .vditor-ir__marker--tag {
    color: var(--b3-vditor-inline-tag-text-color);
    vertical-align: middle;
}

/* 标签样式end */
/* ------------------------------------------------------------------ */

/* 图片样式 */
.vditor-reset img {
    max-width: 100%;
    cursor: pointer;
    box-shadow: 0px 1px 5px 1px rgba(6, 6, 6, 10%);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
/* 文件树页签工具栏样式 */
.block__icons {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
    background-color: var(--b3-theme-surface);
}
/* 设置/搜索弹窗的关闭按钮 */

.b3-dialog__container .b3-dialog__close {
    color: #505964;
    font-size: 50%;
    cursor: pointer;
    background: #fff;
    border-radius: 16px;
    padding: 4px;
    margin-left: 22px;
    height: 13px;
    width: 13px;
    transition: all 0.3s linear;
}
.b3-dialog__container svg:hover {
    color: var(--b3-menu-highlight-color);
    background: #fff;
    transform: rotate(180deg);
}

.b3-dialog__container {
    animation: show 0.5s ease forwards;
}
@keyframes show {
    0% {
        /* 左右展开效果 */
        transform: rotateY(80deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

/* sql查找不到字体颜色*/
div[data-type='block-render'] .ft__secondary {
    color: #f33c3c;
    font-weight: 800;
    /* background: #929275; */
}

.b3-list .ft__secondary {
    /* 模板和assets为红  */
    color: #f33c3c;
}

/* 标题过长后尾部的白色阴影去除 */
/* .layout-tab-bar .item__text::after {
    background: transparent !important;
} */
/* 设置html标签 */
span[data-type='html-inline'] code {
    padding-left: 0em !important;
}

/* 工具栏隐藏动画效果 */
/* 工具栏隐藏动画效果 */
/* .vditor-toolbar__item,
.vditor-toolbar__divider {
    transition: opacity 1s ease 10s;
    opacity: 0;
}
.vditor-toolbar:not(.vditor-toolbar--hide):hover .vditor-toolbar__item,
.vditor-toolbar:not(.vditor-toolbar--hide):hover .vditor-toolbar__divider {
    opacity: 1;
    transition: opacity 0.5s ease 0s;
} */
/* -------------------------------块命名-------------------------------------- */
/* 调整块命名的边框 */
.vditor-ir--tip *[tip]:not([fold='1']) {
    box-shadow: -3px 0 0px 0px var(--b3-theme-background), 3px 0 0px 0px var(--b3-theme-background),
        -4px 1px 0px 0px rgba(0, 0, 0, 0.062), 4px -1px 0px 0px rgba(0, 0, 0, 0.062);
}

.vditor-ir--tip *[tip]:not([fold='1']):not(.vditor-ir__node--expand):before {
    font-weight: normal;
    background-color: #e9eded8a;
    padding: 4px 5px 4px 5px !important;
    font-style: italic;
    margin: -1em 1em 0 0;
    border-radius: 4px;
}

/* 对标题的块命名单独调整 */
.vditor-reset h1::before,
.vditor-reset h2::before,
.vditor-reset h3::before,
.vditor-reset h4::before,
.vditor-reset h5::before,
.vditor-reset h6::before {
    margin: -1.5em 1em 0 0 !important;
}
/* 对表格的块命名单独处理 */
table:before {
    content: none !important;
}

table:after {
    content: attr(tip);
    font-size: 12px;
    float: left;
    font-weight: normal;
    /* padding: 4px 5px 4px 5px !important; */
    font-style: italic;
    margin: 0em 0em 0 0;
    border-radius: 4px;
}
/*对代码块的命名单独处理 */
.vditor-ir--tip table[tip]:not([fold='1']):before,
.vditor-ir--tip [data-type='code-block'][tip]:not([fold='1']):before {
    position: absolute;
    right: 0;
    z-index: 1;
    top: -8px;
    background-color: #e7ecef;
}
/* --------------------------------------------------------------------- */
/* 隐藏br */
.vditor-ir__br {
    transition: opacity 0.5s ease 1s;
    opacity: 0;
}
.vditor-ir__br:hover {
    transition: opacity 400ms ease 0s;
    opacity: 1;
}
/* 调整行内样式 */
.vditor-reset h1 strong,
.vditor-reset h2 strong,
.vditor-reset h3 strong,
.vditor-reset h4 strong,
.vditor-reset h5 strong,
.vditor-reset h6 strong {
    /* 加粗 */
    color: inherit;
}
.vditor-reset s {
    /* 删除线 */
    color: inherit;
}
.vditor-reset em {
    /* 斜体调整 */
    color: inherit;
}

/* 集市动画 */
.b3-dialog__container div[data-name='bazaar'] .b3-card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 7px 7px 12px #929191;
    transition: all 0.2s ease-in-out;
}

/*分窗口的边框（线）  */
.layout__resize::after {
    background-color: #e2e9f1;
}
/* 主要背景色 */

.dock {
    /* 侧边栏更改 */
    background-color: #c3cfd6a9;
}
.toolbar {
    background-color: #c3cfd6a9;
}
.layout-tab-container {
    background-color: #f0f3f5;
}
.block__icons {
    /* box-shadow: rgb(0 0 0 / 30%) 0px 1px 2px; */
    background-color: #d5dde2;
}

/* 搜索项页面名称背景 */
.spread-search__path {
    padding: 8px 16px;
    background-color: #dbe1e6d4;
    border-top: 1px solid var(--b3-border-color);
}

/* --------------------------------------------------------------------- */
/* 多窗口区别样式 */
/* 鼠标停留的窗口都恢复主背景色 */
/* .vditor-ir:hover {
    background-color: var(--b3-theme-background);
} */
.fn__flex-column .vditor-ir {
    /* 多窗口非活动窗口变暗 */
    background-color: #f3f7f8;
    transition: background-color 0.5s linear;
}

.layout__wnd--active .vditor-ir {
    /* 当前编辑窗口保持主背景色 */
    background-color: var(--b3-theme-background);
}

/* 滚动条隐藏效果 */
.vditor-content::after {
    /* 非当前编辑窗口滑块用另一种颜色用伪元素遮住 */
    content: '';
    width: 12px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f3f7f8;
    transition: background-color 0.5s linear;
}
.layout__wnd--active .vditor-content::after {
    /* 当前编辑窗口用主背景颜色伪元素遮住 */
    content: '';
    width: 12px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background-color 0.3s linear;
    background-color: var(--b3-theme-background);
}
.vditor-content:hover::after {
    /* 悬浮的时候隐藏遮罩，显示滑块*/
    background-color: transparent;
    z-index: -100;
    transition: all 0.5s linear;
}
div[data-type='wnd'] .layout-tab-container .file-tree .fn__flex-1::before {
    content: '';
    width: 10px;
    position: absolute;
    right: 0px;
    top: 30px;
    bottom: 0;
    background-color: #f0f3f5;
    z-index: 1;
    transition: background-color 0.3s linear;
}
div[data-type='wnd'] .layout-tab-container:hover .file-tree .fn__flex-1::before {
    background-color: transparent;
    z-index: -100;
    transition: z-index 0.5s linear;
}

/* ----------------------------------End----------------------------------- */
/* 音频长度增加 */
iframe {
    height: 450px;
}

audio {
    width: 800px !important;
}
/* 手机端平板端适配 */
@media screen and (min-width: 320px) and (max-width: 420px) {
    iframe {
        height: 150px;
    }
    .fn__flex-column .vditor-ir {
        /* 多窗口非活动窗口变暗 */
        background-color: var(--b3-theme-background);
    }
}
@media screen and (min-width: 421px) and (max-width: 1023px) {
    /* 保证手机端和平板端的窗口背景不为电脑端非活动背景 */
    .fn__flex-column .vditor-ir {
        background-color: var(--b3-theme-background);
    }
    iframe {
        height: 320px;
    }
}
/* 调整引用中的加粗样式 */
.vditor-reset blockquote strong {
    color: inherit !important;
}
.b3-tooltips__s::before, .b3-tooltips__se::before, .b3-tooltips__sw::before {
    border-bottom-color: #81afbdd8;
}
.b3-tooltips::after {
    background: #81afbdd8;
}