.protyle-reset .hljs,
.protyle-wysiwyg .hljs,
.b3-typography .hljs {
    padding: 8px 16px 4px 16px !important;
    font-family: var(--b3-font-family-code);
    background-size: 20px 20px;
    background-image: none !important;
    background-color: var(--b3-protyle-code-background) !important;
    border-radius: 0 0px 4px 0;
    /* background-image: url('../src/paper.png') !important; */

}

.code-block {
    position: relative;
    display: block;
    border-radius: 4px;
    background: var(--b3-protyle-code-background);
    box-shadow: 0 0 0 1px #1e25351a;
    padding-top: 25px !important;
    /* background-image: url('../src/paper.png') !important; */
}

.protyle-wysiwyg[id="preview"] .code-block {
    box-shadow: 0 0 0 1.5px #1e25351a;
}


.b3-typography .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon {
    background-color: var(--b3-tooltips-color);
}

.protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]).code-block {
    line-height: 1.625;
    height: 2px;
}



/* 语言标签 */
/* 代码语言显示 */
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    opacity: 1;
}

.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    display: flex;
    font-size: 13px !important;
    text-transform: uppercase;
    height: 20px;
    padding: 0 5px;
    margin: 3px 0 0 8px;
    color: #7e888d;
}

.protyle-wysiwyg .code-block[linenumber="true"] .protyle-action .protyle-action__language {
    margin: 3px 0 0 68px !important;
}

.protyle-wysiwyg[contenteditable=true] .code-block .protyle-action .protyle-action__language:hover {
    background-color: #a1abb161;
}

.code-block .protyle-action .protyle-action__language::after {
    content: "";
    width: 8px;
    height: 19px;
    margin-left: 5px;
    background-color: var(--b3-theme-on-background);
    -webkit-mask: url("../src/expand_more_black_18dp.svg") no-repeat center;
    mask: url("../src/expand_more_black_18dp.svg") no-repeat center;
    opacity: 0;
}

.code-block .protyle-action .protyle-action__language:hover::after {
    opacity: 1;
}

.b3-typography .code-block .protyle-icons,
.protyle-wysiwyg [data-node-id].code-block .protyle-icons {
    top: 0;
    right: 0;
}

/*  代码块行数*/
.protyle-linenumber__rows {
    margin-top: 24px !important;
    background-color: var(--b3-protyle-code-background);
    font-family: var(--b3-font-family-code);
    opacity: 0.7;
    padding: 9px 4px 4px 4px;
    border-radius: 0px 0 0 4px;
}

.protyle-linenumber__rows span {
    color: #b1b1b1;
    opacity: 0.5;
}



/* 按钮颜色 */
.b3-typography .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon {
    background-color: #a1abb1;
}


/* ------代码语言栏居右--------- */
/* .b3-typography .code-block .protyle-action,
.protyle-wysiwyg [data-node-id].code-block .protyle-action {
    left: auto;
    right: 4px;
} */


/* ---------mac三点--------- */
/* .code-block::after {
    content: ' ';
    position: absolute;
    background: #fa625c;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 50%;
    top: 10px;
    left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
} */