/* -----------------设置代码块最大长度，添加纵向滚动条------------------------------ */
/* .protyle-wysiwyg:not([id="preview"])  .code-block {
    overflow-y: auto;
    max-height: 80vh;
}
.protyle-wysiwyg:not([id="preview"])  .code-block::-webkit-scrollbar-thumb{
    border-left:solid 0px transparent
}
.protyle-wysiwyg:not([id="preview"])  .li .code-block:not(:nth-child(2)) {
    overflow-y: inherit;
    max-height: inherit;
} */
/* -------------------------------代码块样式-------------------------------------- */

.protyle-reset .hljs,
.protyle-wysiwyg .hljs ,.b3-typography .hljs{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 16px;
    font-family: var(--b3-font-family-code);
    background-size: 20px 20px;
    background-image: none !important;
    background: #fff;
    border-radius: 0px 0px 4px 4px;

}

.code-block {
    position: relative;
    display: block;
    border-radius: 4px;
    background: #e6ebf1 ;
    /* border: 1.5px solid rgb(0 0 0 / 8%); */
    box-shadow:  0 0 0 1px #1e25351a;
    /* margin-top: 15px !important; */
    padding-top: 32px !important;
}
.protyle-wysiwyg[id="preview"] .code-block {
    box-shadow:  0 0 0 1.5px #1e25351a;
}

/* .code-block .protyle-action {
    position: relative;
    .hljs::before
} */
.code-block::after {
    content: ' ';
    position: absolute;
    background: #fa625c;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 50%;
    top: 10px;
    left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
}

.b3-typography .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon {
    background-color: var(--b3-tooltips-color);
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]).code-block {
    line-height: 1.625;
    height: 2px;
}

/* 功能标签栏 */
.b3-typography .code-block .protyle-action,
.protyle-wysiwyg [data-node-id].code-block .protyle-action {
    left: auto;
    right: 4px;
    /* float: right; */
    /* position: relative; */
}

/* 间隔 */
.b3-typography .code-block .protyle-action>span.fn__flex-1,
.protyle-wysiwyg [data-node-id].code-block .protyle-action>span.fn__flex-1 {
    flex: 0;
}

/* 语言标签 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    margin-left: 0.5em !important;
    margin-right: 0.5em;
    margin-top: -1px;
}

.b3-typography .code-block .protyle-icons,
.protyle-wysiwyg [data-node-id].code-block .protyle-icons {
    top: 0;
    right: 0;
}
/*  代码块行数*/
.protyle-linenumber__rows {
    margin-top: 32px !important;
    background-color: var(--b3-protyle-code-background);
    font-family: var(--b3-font-family-code);
    opacity: 0.5;
    width: 45px;
    left:0px;
    padding:4px;

}


/* 代码语言显示 */
.code-block .protyle-icons {

    background-color: transparent;
    border-radius: 4px;
}
.code-block .protyle-icons>span:hover {
    background-color: #cad8dd;
}

.code-block .protyle-icons .protyle-action__language,.code-block .protyle-icons>span{
    color: rgba(13, 56, 50, 0.719);
    font-weight: 600;
}

/* 代码块编辑时不闪 */
.code-block .protyle-icons {
    opacity: 1;
}
.code-block .protyle-icons .protyle-action__copy {
    opacity: 0;
}
.code-block:hover .protyle-icons .protyle-action__copy {
    opacity: 1;
}

.code-block:focus-within .protyle-icons .protyle-action__copy{
    opacity: 0;
}
.code-block .protyle-icons .protyle-action__copy:hover{
    opacity: 1;
}
.code-block:hover .protyle-icons {
    opacity: 1 !important;
}

