/* 来源：https://ld246.com/article/1648269766832 */
/*链滴id：abbj，推荐码：K9TdVww */
/*---------ctrl+p窗口改造-------------*/
/*放大ctrl+p窗口尺寸*/
/* 搜索对话框尺寸 */
/* 不添加[data-key]属性选择器将会同时影响alt+p窗口 */
body>div[data-key]>.b3-dialog>.b3-dialog__container,
body>div[data-key]>.b3-dialog>.b3-dialog__container>div>.fn__flex>.fn__flex-column {
    width: 90vw !important;
    height: 86vh !important;
}

/* 调整搜索框关闭按钮位置, 避免被遮挡 */
body>div[data-key]>.b3-dialog>.b3-dialog__container>svg.b3-dialog__close {
    right: -25px;
    z-index: 9999;
}

/* 窗口较宽时并排显示搜索结果 */
@media screen and (min-width: 960px) {

    /* 弹性盒子模式: 水平显示, 必要时折行 */
    body>div[data-key]>.b3-dialog>.b3-dialog__container>div>.fn__flex>.fn__flex-column {
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    /* 设置需要占满一行的项目 */
    body>div[data-key]>.b3-dialog>.b3-dialog__container>div>.fn__flex>.fn__flex-column .search__header,
    body>div[data-key]>.b3-dialog>.b3-dialog__container>div>.fn__flex>.fn__flex-column .b3-form__space--small {
        width: 100%;
    }

    /* 搜索结果与搜索结果预览分栏 */
    body>div[data-key]>.b3-dialog>.b3-dialog__container>div>.fn__flex>.fn__flex-column #searchList,
    body>div[data-key]>.b3-dialog>.b3-dialog__container>div>.fn__flex>.fn__flex-column #searchPreview {
        float: left;
        width: 50% !important;
        height: calc(100% - 84px) !important;
    }
}
/* 修复搜索文章不能完整显示的问题 */
.spread-search__preview .protyle-content {
    padding-bottom: 56px;
}

div[data-key='⌘R'] #searchPreview .protyle-content {
    padding-bottom: 90px;
}

.fn__flex-column #searchList .b3-list-item[data-type='search-item'] {
    padding-bottom: 20px;
    box-shadow: 0 1px 0 0 var(--b3-scroll-bgcolor) inset;
}

.fn__flex-column #searchList .b3-list-item[data-type='search-item']>.b3-list-item__meta {
    color: var(--svg-theme-surface);
    top: 22px;
    right: 8px;
    max-width: 34vw;
    position: absolute;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
/*---------ctrl+p窗口改造 end -------------*/