/* 资源列链接悬浮样式 */
.av__celltext--url:hover {
    color: var(--b3-protyle-inline-link-hover-color);
    border-bottom: 1px solid var(--b3-protyle-inline-link-hover-color) !important;
}

span[data-type='av-add-more'] {
    background-color: #58b3f0;
    color: #fff;
}
span[data-type='av-add-more']:hover {
    background-color: #3498db !important;
    color: #fff !important;
}

/* 数据库默认不隐藏按钮 */
.av .av__views .block__icon {
    opacity: 1;
}

/* 数据库单元格选中背景色 */
.av__cell--active {
    background-color: var(--b3-theme-primary-lightest);
}

/* 数据库勾选框 */
.av__cell.av__cell-check svg {
    color:#289aa2;
}


