.protyle-wysiwyg[custom-img="center"] .img {
    display: block;
    margin: 0 auto;
}

.protyle-wysiwyg[custom-linkicon="no"] [data-node-id] span[data-type='a']:not(:empty)::before {
    display: none !important;
}