#preview .h1 {
    text-align: center !important;
}


/* 设置导出样式 */
@media print {
    :root {
        font-family: var(--b3-font-family);
    }
}
/* 导出的链接样式 */
#preview a {
    color: var(--b3-protyle-inline-link-color);
}

#preview .protyle-wysiwyg [data-node-id].li:before {
    border-left: 0.5px solid transparent;
}
