/* ---------------------------------------导出微信文章和pdf样式-----------------------------------*/
/* 导出微信文章设置默认字体 */
.protyle-preview>.b3-typography {
    font-size: 14px !important;
    /* line-height: 1.75; */
    /* color: #595959;
    font-family: Optima-Regular, Optima, PingFangTC-Light, PingFangSC-light, PingFangTC-light;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
    background-size: 20px 20px;
    background-position: center center; */

}

[data-theme-mode="light"] .protyle-preview>.b3-typography h1,
#preview .protyle-wysiwyg .h1 {
    font-weight: bold;
    border-bottom: 2px solid rgba(15, 76, 129, 1);
    text-align: center;
    color: rgba(15, 76, 129, 1);

}

.protyle-preview>.b3-typography h1 {
    font-size: 24px !important;
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h2 {
    /* display: table; 
    text-align: center; */
    border-bottom: 1px solid #dfe0e1 !important;
    color: #083256;
    border-radius: 0px;
    line-height: 1.75;
    font-size: 20px !important;
    /* margin: 20px auto 20px; */
}

[data-theme-mode="dark"] .protyle-preview>.b3-typography h2 {
    /* display: table;
    text-align: center; */
    /* margin: 20px auto 20px; */
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h3,
#preview .protyle-wysiwyg .h3 {

    text-align: left;
    font-weight: bold;
    margin: 1em 8px 0.75em 0;
    padding-left: 8px;
    border-left: 4px solid rgba(15, 76, 129, 1);
    color: rgba(15, 76, 129, 1) !important;
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h3 {
    font-size: 16px !important;
}

[data-theme-mode="light"] .protyle-preview .b3-typography h4,
#preview .protyle-wysiwyg .h4 {
    font-weight: bold;
    color: #1c849e;
}

[data-theme-mode="light"] .protyle-preview .b3-typography h4 {
    font-size: 15px !important;
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h5,
#preview .protyle-wysiwyg .h5 {
    font-weight: bold;
    color: rgba(15, 76, 129, 1);
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h5 {
    font-size: 14px !important;
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h6,
#preview .protyle-wysiwyg .h6 {
    font-size: 14px !important;
    font-weight: bold;
}

[data-theme-mode="light"] .protyle-preview>.b3-typography h6 {
    font-size: 14px !important;
}

/* 加粗文字颜色 */
/* [data-theme-mode="light"] .protyle-preview >.b3-typography span[data-type~=strong],
[data-theme-mode="light"] .protyle-preview >.b3-typography strong{
    font-weight: bold;
    color: #fa5151;
} */
/* 图片居中 */
#preview .protyle-wysiwyg .p:has(span.img),
[data-theme-mode="light"] .protyle-preview>.b3-typography p:has(span.img:only-child) {
    text-align: center;
}

/* 超链接 */
[data-theme-mode="light"] .protyle-preview>.b3-typography a {
    color: #338dd6;
    /* text-decoration: underline; */

}

/* 预览模式不显示超链接link icon */
[data-theme-mode="light"] .protyle-preview>.b3-typography a::before {
    display: none;
}

/* 行内代码 */
[data-theme-mode="light"] .protyle-preview>.b3-typography span[data-type~='code'] {
    color: #3779b3;
    background-color: #f3f4f4;
}

/* 代码块 */
/* [data-theme-mode="light"] .protyle-preview>.b3-typography .hljs {
    background-color: #f8f9fa;
} */

/* 表格框线 */
[data-theme-mode="light"] .protyle-preview>.b3-typography table tr th,
[data-theme-mode="light"] .protyle-preview>.b3-typography table tr td {
    border-color: #d1d3d6;
}

/* 引述块 */
.protyle-preview>.b3-typography blockquote,
#preview.protyle-wysiwyg blockquote {
    padding: 2px 4px;
    /* background-color: #F0F4F9; */
    border-left: 0.35em solid var(--b3-font-background5);
    /* color: rgb(13, 60, 97); */
    border-radius: 0px 7px 7px 0px !important;
    margin: 0.5em 0;
}

.protyle-preview>.b3-typography blockquote>blockquote {
    border: none;
    border-left: 0.3em solid #2183ce;
    border-radius: 0px !important;
    background: transparent !important;
}

.protyle-preview .b3-typography blockquote[style*='background-color'] {
    border: 1px solid #e8e8e8 !important;
    border-radius: 7px !important;
}

.protyle-preview .b3-typography blockquote .code-block,
.protyle-preview .b3-typography  section .code-block {
    background-color: #f6f8fa66 !important;
    box-shadow: 0 0 0 1px #1e25351a;
}
.b3-typography section>p,
.b3-typography section .code-block,
.b3-typography section ul,
.b3-typography section section{
    margin-left: 1em;
}
.protyle-preview>.b3-typography section>blockquote{
    border: none;
    border-left: 0.3em solid #2183ce;
    border-radius: 0px !important;
    /* background: transparent !important; */
}

.protyle-preview .b3-typography blockquote .hljs,
.protyle-preview .b3-typography section .hljs {
    background-color: transparent !important;
}

.protyle-preview .b3-typography blockquote[style*='background-color: var(--b3-card-warning-background);'] {
    background-color: #fce4d2;
    color: rgb(102, 60, 0);
}

/* .protyle-preview .b3-typography blockquote[style*='background-color:']{
    background-color: #fce4d2 !important;
    color: rgb(102, 60, 0) !important;
}
.protyle-preview .b3-typography blockquote[style*='background-color'] span[data-type~=strong]{
    color: rgb(102, 60, 0) ;
} */
.b3-typography>p {
    border-radius: 6px;
}

/* 加粗 */
.b3-typography strong,
.b3-typography span[data-type~=strong],
.protyle-wysiwyg strong,
.protyle-wysiwyg span[data-type~=strong] {
    font-weight: bold;
    color: inherit;
}

/* 高亮 */
.b3-typography mark,
.b3-typography span[data-type~=mark] {
    background-color: initial;
    box-shadow: none;
    border-bottom: 2px solid #37be35;
    color: #000;
}

.b3-typography code:not(.hljs),
.b3-typography span[data-type~=code] {
    border-radius: 6px;
}

/* 分割线 */
/* .b3-typography hr {
    border: 0;
    width: 100%;
    height: 8px !important;
    background-color: transparent !important;
    background-image: url(https://i0.hdslb.com/bfs/article/71bf2cd56882a2e97f8b3477c9256f8b09f361d3.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
} */

/* 表格 */
.b3-typography table {
    border-collapse: collapse;
    font-size: 14px !important;
    margin: 1em auto;
}

.b3-typography table thead {
    background: rgba(0, 0, 0, 0.05);
}

.b3-typography table tr th {
    border: 1px solid #eceded;
}

.b3-typography table td,
.b3-typography table th {
    font-size: 13px !important;
}



/* ---------------------------------------导出pdf-----------------------------------*/


/* 设置导出样式 */
@media print {
    :root {
        font-family: var(--b3-font-family);
    }
}



/* 去除导出pdf的列表竖线 */
#preview .protyle-wysiwyg [data-node-id].li:before {
    border-left: 0.5px solid transparent;
}

/* pdf的a标签 */
#preview .protyle-wysiwyg a {
    color: var(--b3-protyle-inline-link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--custom-link-bottom-color);
}

/* pdf 导出块引链接文字为绿色，使用虚线下划线 */
#preview .protyle-wysiwyg [data-node-id] a[href^="siyuan://"] {
    color: var(--b3-protyle-inline-blockref-color);
    border-bottom: 1px dashed var(--b3-protyle-inline-blockref-color);
}

/* 代码块 */
#preview .protyle-wysiwyg .code-block {
    /* background: var(--b3-protyle-code-background); */
    border-radius: 4px;
    /* box-shadow: none; */
}

#preview .protyle-wysiwyg .code-block .protyle-action .protyle-action__copy {
    display: none;
}


/* ---------------------------------------导出图片-----------------------------------*/
/* 行内代码优化 */
.export-img .protyle-wysiwyg span[data-type~='code'] {
    margin-left: 0px;
    margin-right: 0px;
}

.export-img .protyle-wysiwyg span[data-type~='code']:first-child {
    margin-left: 0.4em;
}

.export-img .protyle-wysiwyg span[data-type~='code']:last-child {

    margin-right: 0.4em;
}

/* 超链接样式 */
.export-img .protyle-wysiwyg a {
    color: var(--b3-protyle-inline-link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--custom-link-bottom-color);
}



/* 导出到微信公众号引述块优化 */
.protyle-preview>.b3-typography blockquote[style*='background-color: #fdeaec;']>blockquote {
    border-left: 0.3em solid #e21e11 !important;
    color: #b93128;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #fce4d2;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #f1781c !important;
    color: rgb(102, 60, 0);
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #F0F4F9']>blockquote {
    border-left: 0.3em solid #2183ce !important;
    color: rgb(13, 60, 97);
}



.protyle-preview>.b3-typography blockquote[style*='background-color: #e5fae5']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #11ad81 !important;
    color: rgb(30, 70, 32);
}



.protyle-preview>.b3-typography blockquote[style*='background-color: #e2e3e4;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #878484 !important;
    color: #878484;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #d8faff;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #3fada5 !important;
    color: #3fada5;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #fef7d2;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #faad14 !important;
    color: #faad14;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #f0ede0;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #a3431f !important;
    color: #a3431f;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #e9e9ff;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #596ab7 !important;
    color: #596ab7;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #e5daff;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #944194 !important;
    color: #944194;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #f5c7f0;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #d447c5 !important;
    color: #d447c5;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #FFD8E4;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #ee2e68 !important;
    color: #ee2e68;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #202124;']>blockquote {
    border-radius: 0px !important;
    border-left: 0.3em solid #fff !important;
    color: #fff !important;
}

/* 引述块添加卡片背景色，嵌套引述块的border颜色可以进一步修改*/
.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #fdeaec'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #e21e11 !important;
    color: #e21e11 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #fce4d2;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #f1781c !important;
    color: #f1781c !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #F0F4F9;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #2183ce !important;
    color: #2183ce !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #e5fae5;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #11ad81 !important;
    color: #11ad81 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #e2e3e4;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #878484 !important;
    color: #878484 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #d8faff;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #3fada5 !important;
    color: #3fada5 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #fef7d2;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #faad14 !important;
    color: #faad14 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #f0ede0;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #a3431f !important;
    color: #a3431f !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #e9e9ff;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #596ab7 !important;
    color: #596ab7 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #e5daff;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #944194 !important;
    color: #944194 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #f5c7f0;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #d447c5 !important;
    color: #d447c5 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #FFD8E4;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #ee2e68 !important;
    color: #ee2e68 !important;
}

.protyle-preview>.b3-typography blockquote blockquote[style*='background-color: #202124;'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid #202124 !important;
    color: #202124 !important;
}

/* 引述块颜色 */
.protyle-preview>.b3-typography blockquote[style*='background-color: #fdeaec'] {
    color: #e21e11 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #fce4d2;'] {
    color: #f1781c !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #F0F4F9;'] {
    color: #2183ce !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #e5fae5;'] {
    color: #11ad81 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #e2e3e4;'] {
    color: #878484 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #d8faff;'] {
    color: #3fada5 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #fef7d2;'] {
    color: #faad14 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #f0ede0;'] {
    color: #a3431f !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #e9e9ff;'] {
    color: #596ab7 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #e5daff;'] {
    color: #944194 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #f5c7f0;'] {
    color: #d447c5 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #FFD8E4;'] {
    color: #ee2e68 !important;
}

.protyle-preview>.b3-typography blockquote[style*='background-color: #202124;'] {
    color: #202124 !important;
}
