/*————————————————————————列表转导图————————————————————————*/

/*整个导图取消缩进*/
.protyle-wysiwyg *[custom-f="dt"]{
    --b3-border-daotu: 2px solid #3a4c4d;
}


.protyle-wysiwyg *[custom-f="dt"] .li .list {
    padding: 0px;
    margin: 0px;
    transition: all 0.5s;
}

.protyle-wysiwyg *[custom-f="dt"].list[data-node-index] {
    width: 100% !important;
    overflow-x: auto;
    /*溢出滚动*/
    padding-bottom: 50px;
}

/*子项设偏移调整*/
.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li>[data-node-id] {
    margin-left: 20px !important;
    margin-right: -14px !important;
}

.protyle-wysiwyg *[custom-f="dt"] [data-node-id].li>.list {
    padding-left: 20px;
}

/*文字设置居中*/
.protyle-wysiwyg *[custom-f="dt"] .li {
    display: flex;
}

.protyle-wysiwyg *[custom-f="dt"] .li .p,
.protyle-wysiwyg *[custom-f="dt"] .li [data-type="NodeHeading"] {
    display: flex;
    align-items: center;
    left: 6px;
    margin: 0;
}

.protyle-wysiwyg *[custom-f="dt"] .li [data-type="NodeHeading"]>[spellcheck="false"]:after {
    display: none;
}

/*取消标题层级提示*/

/*文字框*/
.protyle-wysiwyg *[custom-f="dt"] .li div>div[spellcheck="false"] {
    margin-left: -8px;
    padding: 5px 10px;
    margin-top: 2px;
    /* background-color: var(--b3-block-daotu); */
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    white-space: nowrap;
}

.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="t"]>[data-node-id]:nth-child(2)>div[spellcheck="false"] {
    padding: 5px 10px 5px 32px;
}
.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="o"]>[data-node-id]>div[spellcheck="false"] {
    padding: 5px 10px 5px 10px;
}

.protyle-wysiwyg *[custom-f="dt"] .li[data-subtype="o"]>[data-node-id]:nth-child(2)>div[spellcheck="false"] {
    padding: 5px 10px 5px 25px;
}


/*去除竖线*/
.list[custom-f="dt"][data-node-id] .li>:before {
    display: none;
}

/*圆点符号居中对齐*/
.list[custom-f="dt"][data-node-id] .protyle-action {
    top: calc(50% + 1px);
    left: 23px;
    position: absolute;
    transform: translate(0, -50%);
    z-index: 2;

}

.protyle-content *[custom-f~=dt] [data-subtype="u"][data-node-id].li>div.protyle-action {
    top: 50%;
    margin-left: -18px;
}

.protyle-content *[custom-f~=dt] [data-subtype="o"][data-node-id].li>div.protyle-action {
    top: 50%;
    margin-left: -5px;
}

/*前继承线*/
.protyle-wysiwyg *[custom-f="dt"] .li::before {
    content: '';
    position: absolute;
    top: 50%;
    border-top: var(--b3-border-daotu);
    width: 20px;
    height: 50%;
}

/*上竖线*/
.protyle-wysiwyg *[custom-f="dt"] .li::before {
    bottom: 50%;
    border-left: var(--b3-border-daotu);
}

/*下竖线*/
.protyle-wysiwyg *[custom-f="dt"] .li::after {
    content: '';
    position: absolute;
    bottom: 50%;
    border-left: var(--b3-border-daotu);
    width: 20px;
    height: 50%;
}

/*单个子项直线*/
.protyle-wysiwyg *[custom-f="dt"] .list>.li:first-child:nth-last-child(2)::after {
    border-radius: 0px;
    width: 22px;
    margin-bottom: -2px;
}

/*单子项居中*/
.protyle-wysiwyg *[custom-f="dt"] .list>.li:first-child:nth-last-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

/*取消多余线条*/
.protyle-wysiwyg *[custom-f="dt"] .li:first-child::after,
.protyle-wysiwyg *[custom-f="dt"] .li:nth-last-child(2)::before {
    border: none !important;
}

/*上框线*/
.protyle-wysiwyg *[custom-f="dt"] .li:first-child::before {
    border-radius: 5px 0 0 0;
}

/*下框线*/
.protyle-wysiwyg *[custom-f="dt"] .li:nth-last-child(2)::after {
    border-bottom: var(--b3-border-daotu) !important;
    border-radius: 0 0 0 5px;
}

/*后继承线*/
.list[custom-f="dt"] .list::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    border-top: var(--b3-border-daotu);
    width: 20px;
    height: 0;
}

/*取消根目录线*/
/* div[data-node-index]>[data-type="NodeListItem"]::after,
div[data-node-index]>[data-type="NodeListItem"]::before {
    display: none;
} */
.protyle-content *[custom-type~=map] [data-node-id].li:first-child:nth-last-child(2)::after {
    border-radius: 0px;
}
.protyle-wysiwyg .list[custom-f="dt"] [data-node-id].li>.protyle-action--task svg {
    opacity: 1 !important;
}
/*————————————————————————————————————————————————————————————————————————*/