.protyle-wysiwyg div[data-subtype="u"].list {
    /* 无序列表自定义层级样式 */
    --u1-style: '●';
    --u2-style: '◆';
    --u3-style: '■';

}

.li[data-subtype="u"]>.protyle-action {
    color: transparent !important;
}

.li[data-subtype="u"]>.protyle-action:before {
    color: #66666d !important;
    transform: scale(0.35);

}
.protyle-wysiwyg#preview .li[data-subtype="u"]>.protyle-action:before {
    transform: scale(0.8);

}

.li[data-subtype="u"][fold="1"]>.protyle-action:before {
    color: #1757b5bb !important;
}

/* 第1层级 */
.list[data-subtype="u"]>.li[data-subtype="u"]>.protyle-action:before {
    content: var(--u1-style);
    position: absolute;
}

/* 第2层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u2-style);
    position: absolute;
}

/* 第3层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u3-style);
    position: absolute;
}

/* 第4层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u1-style);
    position: absolute;
}

/* 第5层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u2-style);
    position: absolute;
}

/* 第6层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u3-style);
    position: absolute;
}

/* 第7层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u1-style);
    position: absolute;
}

/* 第8层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u2-style);
    position: absolute;
}

/* 第9层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u3-style);
    position: absolute;
}

/* 第10层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u1-style);
    position: absolute;
}

/* 第11层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u2-style);
    position: absolute;
}

/* 第12层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u3-style);
    position: absolute;
}

/* 第13层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u1-style);
    position: absolute;
}

/* 第14层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u2-style);
    position: absolute;
}

/* 第15层级及之后更深的层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: var(--u3-style);
    position: absolute;
}