.li[data-subtype="u"]>.protyle-action{
	color:transparent!important;
}
.li[data-subtype="u"]>.protyle-action:before{
    color:var(--b3-theme-on-background) !important;
}
.li[data-subtype="u"][fold="1"]>.protyle-action:before{
    color: #1757b5bb !important;
}
/* 第1层级 */
.list[data-subtype="u"]>.li[data-subtype="u"]>.protyle-action:before {
    content: '●';
    font-size: 0.4em;
    position: absolute;
}
/* 第2层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: '◆';
    font-size: 0.5em;
    position: absolute;
}
/* 第3层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: '❖';
    font-size: 0.7em;
    position: absolute;
}
/* 第4层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: '➤';
    font-size: 0.6em;
    position: absolute;
}
/* 第5层级及之后层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action:before {
    content: '■';
    font-size: 0.5em;
    position: absolute;
}