.li[data-subtype="u"][fold="1"]>.protyle-action svg {
    color: transparent;
    background-color: #1757b5bb !important;
    -webkit-mask: url(../src/ul/ul1.svg) no-repeat;
    mask: url(../src/ul/ul1.svg) no-repeat;
    -webkit-mask-size: 0.5em;
    -webkit-mask-position: center;
    mask-size: 0.5em;
    mask-position: center;
}

/* 第一层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul1.svg) no-repeat;
    mask: url(../src/ul/ul1.svg) no-repeat;
    -webkit-mask-size: 0.5em;
    -webkit-mask-position: center;
    mask-size: 0.5em;
    mask-position: center;

}

/* 第二层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul2.svg) no-repeat;
    mask: url(../src/ul/ul2.svg) no-repeat;
    -webkit-mask-size: 0.46em;
    -webkit-mask-position: center;
    mask-size: 0.46em;
    mask-position: center;
}

/* 第三层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul3.svg) no-repeat;
    mask: url(../src/ul/ul3.svg) no-repeat;
    -webkit-mask-size: 0.39em;
    -webkit-mask-position: center;
    mask-size: 0.39em;
    mask-position: center;
}

/* 第四层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul1.svg) no-repeat;
    mask: url(../src/ul/ul1.svg) no-repeat;
    -webkit-mask-size: 0.5em;
    -webkit-mask-position: center;
    mask-size: 0.5em;
    mask-position: center;
}

/* 第五层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul2.svg) no-repeat;
    mask: url(../src/ul/ul2.svg) no-repeat;
    -webkit-mask-size: 0.46em;
    -webkit-mask-position: center;
    mask-size: 0.46em;
    mask-position: center;
}

/* 第六层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul3.svg) no-repeat;
    mask: url(../src/ul/ul3.svg) no-repeat;
    -webkit-mask-size: 0.39em;
    -webkit-mask-position: center;
    mask-size: 0.39em;
    mask-position: center;
}

/* 第七层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul1.svg) no-repeat;
    mask: url(../src/ul/ul1.svg) no-repeat;
    -webkit-mask-size: 0.5em;
    -webkit-mask-position: center;
    mask-size: 0.5em;
    mask-position: center;
}

/* 第八层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul2.svg) no-repeat;
    mask: url(../src/ul/ul2.svg) no-repeat;
    -webkit-mask-size: 0.46em;
    -webkit-mask-position: center;
    mask-size: 0.46em;
    mask-position: center;
}

/* 第九层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul3.svg) no-repeat;
    mask: url(../src/ul/ul3.svg) no-repeat;
    -webkit-mask-size: 0.39em;
    -webkit-mask-position: center;
    mask-size: 0.39em;
    mask-position: center;
}

/* 第十层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul1.svg) no-repeat;
    mask: url(../src/ul/ul1.svg) no-repeat;
    -webkit-mask-size: 0.5em;
    -webkit-mask-position: center;
    mask-size: 0.5em;
    mask-position: center;
}

/* 第十一层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul2.svg) no-repeat;
    mask: url(../src/ul/ul2.svg) no-repeat;
    -webkit-mask-size: 0.46em;
    -webkit-mask-position: center;
    mask-size: 0.46em;
    mask-position: center;
}

/* 第十二层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul3.svg) no-repeat;
    mask: url(../src/ul/ul3.svg) no-repeat;
    -webkit-mask-size: 0.39em;
    -webkit-mask-position: center;
    mask-size: 0.39em;
    mask-position: center;
}

/* 第十三层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul1.svg) no-repeat;
    mask: url(../src/ul/ul1.svg) no-repeat;
    -webkit-mask-size: 0.5em;
    -webkit-mask-position: center;
    mask-size: 0.5em;
    mask-position: center;
}

/* 第十四层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul2.svg) no-repeat;
    mask: url(../src/ul/ul2.svg) no-repeat;
    -webkit-mask-size: 0.46em;
    -webkit-mask-position: center;
    mask-size: 0.46em;
    mask-position: center;
}

/* 第十五层级 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .protyle-action svg {
    color: transparent;
    background-color: var(--b3-theme-on-surface);
    -webkit-mask: url(../src/ul/ul3.svg) no-repeat;
    mask: url(../src/ul/ul3.svg) no-repeat;
    -webkit-mask-size: 0.39em;
    -webkit-mask-position: center;
    mask-size: 0.39em;
    mask-position: center;
}