/*————————————————————————列表转导图————————————————————————*/

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"],
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] {
	--b3-border-daotu: 2px solid var(--b3-border-color);
	--b3-block-daotu: transparent;
}

/*————————————————————————列表转导图————————————————————————*/
/*整个导图取消缩进*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li .list,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li .list {
	padding: 0px;
	margin: 0px;
	transition: all 0.5s;
}

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"].list,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"].list {
	width: 100%-50 !important;
	overflow-x: auto;
	/*溢出滚动*/
	padding-bottom: 30px !important;
	/* margin:10px 4px; */
}

/*子项设偏移调整*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] [data-node-id].li>[data-node-id],
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] [data-node-id].li>[data-node-id] {
	margin-left: 20px !important;
	margin-right: -24px !important;
}

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] [data-node-id].li>.list,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] [data-node-id].li>.list {
	padding-left: 20px;
}

/*文字设置居中*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li {
	display: flex;
	flex-direction: row !important;
}

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li .p,
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li [data-type="NodeHeading"],
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li .p,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li [data-type="NodeHeading"] {
	display: flex;
	align-items: center;
	left: 6px;
	margin: 0;
	flex-shrink: 0;
	/*不压缩宽度*/
}

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li [data-type="NodeHeading"]>[spellcheck="false"]:after,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li [data-type="NodeHeading"]>[spellcheck="false"]:after {
	display: none;
}

/*取消标题层级提示*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li div,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li div {
	border-right: 10px solid transparent;
}

/*文字框*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li div:not(.hljs)>div[spellcheck="false"],
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li div:not(.hljs)>div[spellcheck="false"] {
	margin-left: -8px;
	padding: 5px 0 5px 10px;
	margin-top: 2px;
	background-color: var(--b3-block-daotu);
	border-radius: 3px;
	box-shadow: var(--b3-border-color) 0px 0px 0px 1px, var(--b3-border-color) 0px 2px 4px;
	max-width: 15vw;
}


.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li div>div.hljs,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li div>div.hljs {
	margin-left: 2px;
	width: 300px;
	background-color: var(--b3-menu-background);
}

/*去除竖线*/
/* .list[custom-f="dt"][data-node-id] .li>:before {
		display: none;
	} */

.list[custom-f="dt"] .protyle-action--task:before,
.list[custom-list2="mindmap"] .protyle-action--task:before {
	background-color: #fff;
}

/*圆点符号居中对齐*/
.protyle-content *[custom-f~="dt"] [data-subtype="u"][data-node-id].li>div.protyle-action,
.protyle-content *[custom-list2~="mindmap"] [data-subtype="u"][data-node-id].li>div.protyle-action {
	top: 50% !important;
	margin-left: -18px;
}

/*无序列表*/
.protyle-content *[custom-f~="dt"] [data-subtype="o"][data-node-id].li>div.protyle-action,
.protyle-content *[custom-list2~="mindmap"] [data-subtype="o"][data-node-id].li>div.protyle-action {
	top: calc(50% + 1px) !important;
	margin-left: 17px;
}

/*有序列表*/
.list[custom-f="dt"][data-node-id] .li>.protyle-action,
.list[custom-list2="mindmap"][data-node-id] .li>.protyle-action {
	top: calc(50% + 1px) !important;
	left: 3px;
	position: absolute;
	transform: translate(0, -50%);
	z-index: 2;
}

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] [data-subtype="u"][data-node-id].li>.protyle-action:after,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] [data-subtype="u"][data-node-id].li>.protyle-action:after {
	left: 37px;
}

.list[custom-f="dt"][data-node-id] .protyle-action svg,
.list[custom-list2="mindmap"][data-node-id] .protyle-action svg {
	left: 20px;
}

/*前继承线*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li::before,
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li[fold="1"]::before,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li::before,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li[fold="1"]::before {
	content: '';
	position: absolute;
	top: 50% !important;
	border-top: var(--b3-border-daotu);
	width: 20px;
	height: 50% !important;
}

/*上竖线*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li::before,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li::before {
	bottom: 50%;
	border-left: var(--b3-border-daotu) !important;
	left: 0px;
}

.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li:hover::before,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li:hover::before {
	border-left: var(--b3-border-daotu);
}

/*下竖线*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li::after,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li::after {
	content: '';
	position: absolute;
	bottom: 50%;
	border-left: var(--b3-border-daotu);
	width: 20px;
	height: 50% !important;
}

/*单个子项直线*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .list>.li:first-child:nth-last-child(2)::after,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .list>.li:first-child:nth-last-child(2)::after {
	width: 0px;
}

/*单个子项直线对齐修正*/
.list[custom-f="dt"] .list:has(>.li:first-child:nth-last-child(2))::after,
.list[custom-list2="mindmap"] .list:has(>.li:first-child:nth-last-child(2))::after {
	border-radius: 0px;
	width: 39px;
	margin-bottom: -2px;
}

.list[custom-f="dt"][data-subtype="t"] .list:has(>.li:first-child:nth-last-child(2))::after,
.list[custom-list2="mindmap"][data-subtype="t"] .list:has(>.li:first-child:nth-last-child(2))::after {
	border-radius: 0px;
	width: 32px;
	margin-bottom: -2px;
}

/*单子项居中*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .list>.li:first-child:nth-last-child(2),
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .list>.li:first-child:nth-last-child(2) {
	top: 50% !important;
	transform: translate(0, -50%);
}

/*取消多余线条*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li:first-child::after,
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li:nth-last-child(2)::before,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li:first-child::after,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li:nth-last-child(2)::before {
	border: none !important;
}

/*上框线*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li:first-child::before,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li:first-child::before {
	border-radius: 5px 0 0 0;
}

/*下框线*/
.protyle-wysiwyg [data-type="NodeList"][custom-f="dt"] .li:nth-last-child(2)::after,
.protyle-wysiwyg [data-type="NodeList"][custom-list2="mindmap"] .li:nth-last-child(2)::after {
	border-bottom: var(--b3-border-daotu) !important;
	border-radius: 0 0 0 5px;
}

/*后继承线*/
.list[custom-f="dt"] .list::after,
.list[custom-list2="mindmap"] .list::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50% !important;
	border-top: var(--b3-border-daotu);
	width: 20px;
	height: 0 !important;
}

/*取消根目录线*/
/* div [data-type="NodeList"][custom-f="dt"]>[data-type="NodeListItem"]::before,
div [data-type="NodeList"][custom-f="dt"]>[data-type="NodeListItem"]::after{   
	display: none;
} */
/*根目录最小宽度，保证块标可点*/
div [data-type="NodeList"][custom-f="dt"]>[data-type="NodeListItem"]>[data-type="NodeParagraph"]>[spellcheck="false"],
div [data-type="NodeList"][custom-list2="mindmap"]>[data-type="NodeListItem"]>[data-type="NodeParagraph"]>[spellcheck="false"] {
	min-width: 50px;
}

.list[custom-f="dt"] .li.protyle-wysiwyg--select::after,
.list[custom-list2="mindmap"] .li.protyle-wysiwyg--select::after {
	background-color: transparent;
}

.list[custom-f="dt"] .li.protyle-wysiwyg--select .p,
.list[custom-list2="mindmap"] .li.protyle-wysiwyg--select .p {
	background-color: var(--b3-theme-primary-lightest);
}

/*————————————————————————————————————————————————————————————————————————*/


#preview .list[custom-f="dt"][data-node-id] .protyle-action svg,
#preview .list[custom-list2="mindmap"][data-node-id] .protyle-action svg {
	left: 4px;
}