:root {
    /* 主色 */
    /* 高亮 */
    /* --b3-theme-primary: #4285f4; */
    /* 菜单高亮、样式高亮、错误提示，确定删除 */
    --b3-theme-primary: #3ca3ce;
    --b3-theme-primary-light: #b9d7e4;
    --b3-theme-primary-lighter: #d7e8ef;
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    /* 订阅黄 */
    --b3-theme-secondary: #faad14;
    --b3-theme-background: #fff;
    --b3-theme-background-light: #c4d2db;
    /* 面包屑和标签页 */
    --b3-theme-surface: #edf0f2;
    --b3-theme-error: #ec8d8deb;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    /* 主要图标颜色 */
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family: 'quote', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB',
        'Microsoft Yahei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji',
        'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
    --b3-font-family-code: 'JetBrainsMono-Regular', mononoki, Consolas, 'Liberation Mono', Menlo,
        Courier, monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji',
        'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji',
        'Twemoji Mozilla', 'Noto Color Emoji', 'Android Emoji';
    --b3-font-family-math: KaTeX_Math;
    /* 顶部工具栏 */
    --b3-toolbar-background: #d7dfe4;
    --b3-toolbar-blur-background: #d7dfe4;
    --b3-toolbar-color: #5f6368;
    --b3-toolbar-hover: #c4d2db;
    /* 线条 */
    /* --b3-border-color: #dfe0e1; */
    --b3-border-color: #eceded;

    /* 滚动条 m */
    /* --b3-scroll-color: rgba(0, 0, 0, .2); */
    --b3-scroll-color: rgba(5, 50, 80, 0.2);

    /* 列表 */
    /* --b3-list-hover: rgba(0, 0, 0, 0.05); */
    --b3-list-hover: transparent;
    /* 页签 */
    --b3-tab-background: #e7edf0;
    --b3-tab-background-hover: #dee4e8;
    /* 菜单 */
    --b3-menu-background: #fff;
    /* 提示 */
    --b3-tooltips-color: #335c7396;

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #fbd2d5;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #fce1cd;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d7eaf9d2;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #e0f9e0d2;

    /* 自定义文字 */
    --b3-font-color1: rgb(250, 118, 109);
    --b3-font-color2: #f1781c;
    --b3-font-color3: #2183ce;
    --b3-font-color4: #11ad81;
    --b3-font-color5: #8e8e8e;
    --b3-font-color6: #52d4ca;
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: #d32a1b;
    --b3-font-color9: #596ab7;
    --b3-font-color10: #944194;
    --b3-font-color11: #d447c5;
    --b3-font-color12: #a3431f;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: var(--b3-card-error-background);
    --b3-font-background2: var(--b3-card-warning-background);
    --b3-font-background3: var(--b3-card-info-background);
    --b3-font-background4: var(--b3-card-success-background);
    --b3-font-background5: #dfddddaf;
    --b3-font-background6: #27e6ff42;
    --b3-font-background7: #fff19598;
    --b3-font-background8: #fe6567;
    --b3-font-background9: #ccd3f3;
    --b3-font-background10: #d2cbff;
    --b3-font-background11: #f4d0f0;
    --b3-font-background12: #edd9d2;
    --b3-font-background13: var(--b3-theme-on-background);
    /* PDF */
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: #f4eba3;
    --b3-pdf-background2: #9af997;
    --b3-pdf-background3: #59c6ff;
    --b3-pdf-background4: #ff8280;
    --b3-pdf-background5: #faad14;
    --b3-pdf-background6: #d4d4d4;
    --b3-pdf-background7: #52d4ca;
    /* 动画效果 */
    --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80ffa5;
    --b3-graph-code-point: #00ddff;
    --b3-graph-table-point: #37a2ff;
    --b3-graph-list-point: #ff0087;
    --b3-graph-todo-point: #ffbf00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 m */
    --b3-protyle-code-background: #f6f8fa;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #9ba0ad;
    --b3-protyle-inline-link-color: #408bba;
    --b3-protyle-inline-link-hover-color: #fa60a0;
    --b3-protyle-inline-mark-background: #f8e8cb;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-background: #70b3ca;
    --b3-protyle-inline-tag-color: #fff;
    --b3-protyle-inline-code-color: #03353c;
    --b3-protyle-inline-code-background: #f0f0f0;
    --b3-protyle-inline-blockref-color: #0e7a88;
    --b3-protyle-inline-blockref-hover-color: #ff398b;

    /* 表格背景设置 */
    --b3-table-border-color: #d1d3d6;
    --b3-table-th-color: #e9ecee;
    --b3-table-trn-color: #fff;
    --b3-table-tr2n-color: var(--b3-theme-background);
    /* 高亮 */
    --b3-menu-highlight-color: #068eb8;
    --b3-menu-highlight-focus-color: #34495e;
    /* 文件树背景高亮颜色 */
    --b3-menu-highlight-background: #dde5ea;
    --custom-tab-background: #edf0f2;
    --custom-tab-hover-background: #76878d38;
    --custom-tab-border: #d3dae27c;
    --custom-tab-focus-top-border: #435f6b;
    /* 各级标题颜色 */
    --custom-h1-color: #285358;
    --custom-h2-color: #064453;
    --custom-h2-border-color: #dfe0e1;
    --custom-h3-color: #15aabf;
    --custom-h4-color: #2c99a2;
    --custom-h5-color: #387b86cc;
    --custom-h6-color: var(--b3-theme-on-background);
    --custom-blockquote-border-color: #5f6368;
    --custom-blockquote-background-color: #d2d9de2e;
    --custom-tag-hover-color: #559898;
    --custom-link-bottom-color: #bacbd650;
}

/* https://github.com/siyuan-note/siyuan/issues/6440 */
.protyle-action--order:after {
    mix-blend-mode: multiply;
}

.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}
