/* 导入代码块样式 */
@import url('/appearance/themes/Tsundoku/style/module/code_block_dark.css');

:root {
    /* 主色 */
    --b3-theme-primary: #3b7085;
    --b3-theme-primary-light: #417b92;
    --b3-theme-primary-lighter: #5b96af;
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #16232f;
    --b3-theme-background-light: #293e4c;
    --b3-theme-surface: #031c25;
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #c9d1d9;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-error: #fff;

    /* 顶部工具栏 */
    --b3-toolbar-background: #031c25;
    --b3-toolbar-blur-background: #031c25;
    --b3-toolbar-color: #9aa0a6;
    --b3-toolbar-hover: #293e4c;
    /* 线条 */
    /* --b3-border-color: #363f49; */
    /* --b3-border-color: rgba(230, 230, 230, .08); */
    --b3-border-color: #16232f;

    /* 滚动条 */
    --b3-scroll-color: #2f3d49c0;

    /* 列表 */
    --b3-list-hover: rgba(230, 230, 230, 0.05);

    /* 页签 */
    --b3-tab-background: #222d38;
    --b3-tab-background-hover: #2c3341;
    /* 菜单 */
    --b3-menu-background: #041f29;
    /* 提示 */
    --b3-tooltips-color: #f5f4f4;
    --b3-tooltips-background: #07899d9f;

    /* 卡片背景 */
    --b3-card-error-color: #fda8a2;
    --b3-card-error-background: #ec777163;
    --b3-card-warning-color: rgb(255, 213, 153);
    --b3-card-warning-background: #be8b585d;
    --b3-card-info-color: rgb(166, 213, 250);
    --b3-card-info-background: rgba(0, 153, 255, 0.288);
    --b3-card-success-color: rgb(183, 223, 185);
    --b3-card-success-background: #85d0a34d;

    /* 自定义文字 */
    --b3-font-color1: var(--b3-card-error-color);
    --b3-font-color2: var(--b3-card-warning-color);
    --b3-font-color3: #7ac4ff;
    --b3-font-color4: #9bfbb7;
    --b3-font-color5: #b4b4b4;
    --b3-font-color6: #6cf9ee;
    --b3-font-color7: var(--b3-theme-secondary);
    --b3-font-color8: #f5822e;
    --b3-font-color9: #9f9ff8;
    --b3-font-color10: #ca98ff;
    --b3-font-color11: #d90ec5;
    --b3-font-color12: #eb5042;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background1: #ff8f8999;
    --b3-font-background2: #e5aa5752;
    --b3-font-background3: rgba(54, 171, 248, 0.521);
    --b3-font-background4: #8fe7b277;
    --b3-font-background5: #6f8ca38f;
    --b3-font-background6: #09a1b873;
    --b3-font-background7: #f3a82f63;
    --b3-font-background8: #a35b28ce;
    --b3-font-background9: #324272;
    --b3-font-background10: #a979d683;
    --b3-font-background11: #98268b;
    --b3-font-background12: #a7443cd3;
    --b3-font-background13: var(--b3-theme-on-background);
    /* PDF */
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: #c79d59;
    --b3-pdf-background2: #5b8c59;
    --b3-pdf-background3: #2f8cca;
    --b3-pdf-background4: #fd7472;
    --b3-pdf-background5: #7b6843;
    --b3-pdf-background6: #9aa4a2;
    --b3-pdf-background7: #438983;
    /* 动画效果 */
    --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.4);

    /* diff */
    --b3-diff-add: #133a1c;
    --b3-diff-add-surface: #28853e;
    --b3-diff-del: #440c10;
    --b3-diff-del-surface: #b1202d;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #9876aa;
    --b3-graph-math-point: #80ffa5;
    --b3-graph-code-point: #00ddff;
    --b3-graph-table-point: #37a2ff;
    --b3-graph-list-point: #ff0087;
    --b3-graph-todo-point: #ffbf00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #e8eaed;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #9aa0a6;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: #0f1d2a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #ffffff;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #c9d1d991;
    --b3-protyle-inline-link-color: #57a2d4;
    --b3-protyle-inline-link-hover-color: #fa60a0;
    --b3-protyle-inline-mark-background: #31a97bc7;
    --b3-protyle-inline-mark-color: #cdd1d6;
    --b3-protyle-inline-tag-background: #65c8eccc;
    --b3-protyle-inline-tag-color: #f8f9fa;
    --b3-protyle-inline-code-color: #b9bcbc;
    --b3-protyle-inline-code-background: #225764;
    --b3-protyle-inline-blockref-color: #70c4c4;
    --b3-protyle-inline-blockref-hover-color: #ff398b;
    /* 表格 */
    --b3-table-border-color: #596169;
    --b3-table-th-color: #13242c;
    --b3-table-trn-color: #222d38;
    --b3-table-tr2n-color: #1a2734;
    /* 高亮 */
    --b3-menu-highlight-color: #13c2c2f1;
    --b3-menu-highlight-focus-color: #13c2c2f1;
    /* 文件树背景高亮颜色 */
    --b3-menu-highlight-background: #293241;
    --custom-tab-background: #0b2b37;
    --custom-tab-hover-background: #76878d38;
    --custom-tab-border: #0b2b37;
    --custom-tab-focus-top-border: #046868;
    /* 各级标题颜色 */
    --custom-h1-color: #4ef7e0;
    --custom-h2-color: #34e7e4;
    --custom-h2-border-color: #596169;
    --custom-h3-color: #76ebff;
    --custom-h4-color: #ffd2a1;
    --custom-h5-color: #f2a1ff;
    --custom-h6-color: var(--b3-theme-on-background);
    --custom-blockquote-border-color: #6d9a9a29;
    --custom-blockquote-background-color: #50beff1a;
    --custom-tag-hover-color: #0892c3cc;
    --custom-link-bottom-color: #39464b96;
}

.render-node[data-subtype='graphviz'] .graph > polygon {
    fill: var(--b3-theme-on-surface);
}

/* 保证第13种背景色可以遮盖文字 */
span[data-type='text'][style='background-color: var(--b3-font-background13);'] {
    /* font-weight: 400 !important; */
    color: #c9d1d9 !important;
}

/* 主要背景色 */
.status,
.dock {
    background-color: #031c25;
}
.toolbar {
    background-color: var(--b3-toolbar-background);
}
.layout-tab-container {
    background-color: #16232f;
}

.block__popover .block__icons,
.layout-tab-container .block__icons{
    background-color: #041f29 !important;
}

/* 搜索项页面名称背景 */
.spread-search__path {
    background-color: #1f2d3b;
    border-top: 1px solid #03030363;
    /* border-bottom: 1px solid #0303034f; */
}

/* 集市动画 */
.b3-dialog__container div[data-name='bazaar'] .b3-card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 7px 7px 12px #0a0a0a;
    transition: all 0.2s ease-in-out;
}

/* ------------------------------块嵌入------------------------------ */
.protyle-wysiwyg [data-node-id].render-node[data-type='NodeBlockQueryEmbed'] {
    background-color: var(--b3-theme-surface);
    box-shadow: 0px 0px 7px 1px #386d79;
    border-left: 0px dashed #010e1b;
}
/* 调整列表下嵌入块小竖线*/

.protyle-wysiwyg
    [data-node-id].render-node[data-type='NodeBlockQueryEmbed']
    > .protyle-wysiwyg__embed {
    border-top: 3px dashed #10d6d69c;
}

/* ------------------------------行内代码------------------------------ */
.b3-typography code:not(.hljs),
.b3-typography span[data-type~='code'],
.protyle-wysiwyg code:not(.hljs),
.protyle-wysiwyg span[data-type~='code'] {
    color: var(--b3-protyle-inline-code-color);
    background-color: var(--b3-protyle-inline-code-background);
    box-shadow: #0993a580 0px 0px 3px 1px inset;
}

/*  ------------------------------列表 ------------------------------ */

/* 列表悬浮 */
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover:after {
    /* 大圆背景 */
    background-color: #3ca2ce9c !important;
    opacity: 0.68;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover {
    /* 小圆点 */
    color: #3ca3ce;
}
/* 列表折叠 */
.protyle-wysiwyg [data-node-id].li[fold='1'] > .protyle-action:after {
    /* 大圆背景 */
    background-color: #3072d687 !important;
    opacity: 0.68;
}
.protyle-wysiwyg [data-subtype='t'].li[fold='1'] > .protyle-action:after {
    /* 大圆背景 */
    background-color: #3072d687 !important;
    border-radius: 0.2em;
    opacity: 0.68;
}
.protyle-wysiwyg [data-subtype='u'].li[fold='1'] > .protyle-action {
    /* 小圆点 */
    color: #3ca3ce;
}

/* ---------------------复选框（待办事项）Start------------------------------------------------ */
.b3-typography .protyle-task input {
    opacity: 0;
}

.protyle-wysiwyg [data-node-id].li > .protyle-action--task svg {
    opacity: 0;
}

.protyle-wysiwyg [data-node-id].li > .protyle-action--task:hover:after {
    background-color: transparent !important;
    opacity: 0 !important;
}

/* 复选框样式 */
.protyle-wysiwyg .protyle-action--task:before,
.b3-typography .protyle-task:before {
    border: 1.7px solid #a0b1c6;
}


/* 复选框选中 */
.protyle-task--done > .protyle-action--task:before,
.b3-typography .protyle-task--done:before {
    border: 1.7px solid #289aa2;
    color: #289aa2;
    background-color: transparent;
}

/* 复选框鼠标悬停 */
.protyle-wysiwyg [data-node-id].li > .protyle-action--task:hover:before {
    content: '\2713';
    color: #436681;
}


.protyle-task--done[fold='1'] > .protyle-action--task:before {
    background-color: transparent;
    color: #476796;
}

div[data-subtype='t'][data-type='NodeList'] {
    position: relative;
}


/* 菜单选中高亮 */
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
    background-color: #293241;
}

/* 创建文件按钮 */
/* .b3-button--text,
.b3-button--cancel,
.b3-button--outline {
    color: #6bb6c9;
    background-color: transparent;
} */
.b3-button--text:hover,
.b3-button--text:focus,
.b3-button--cancel:hover,
.b3-button--cancel:focus,
.b3-button--outline:hover,
.b3-button--outline:focus {
    background-color: #1b3a4d;
    filter: drop-shadow(2px 2px 2px #272e3c);
}

/* 消息提示 */
/* 消息提示 */
#message .b3-button {
    color: #fff;
    background-color: #4db999;
}
.b3-snackbar__content {
    color: #fff;
    background-color: #4db999;
}

.b3-snackbar__close {
    color: #fff;
    background: #4db999;
}

.b3-snackbar__content svg:hover {
    color: #fff;
    transform: scale(1.1);
}

.b3-dialog__container .b3-list--background .b3-list-item--focus {
    background-color: #293241 !important;
}
/* 调整设置的select按钮 */
.b3-tab-container .b3-select {
    background-color: rgb(55 75 95 / 62%);
}
.b3-tab-container .b3-select option {
    background-color: #2d3d4e;
    border-radius: 10%;
}
.b3-select {
    background-color: rgb(55 75 95 / 62%);
}
.b3-select option {
    background-color: #10263c;
    border-radius: 10%;
}
.b3-select option:hover {
    background-color: rgba(65, 91, 117, 0.62) !important;
}

/* 设置/搜索弹窗的链接 */
.b3-dialog__container a {
    outline: 0;

    color: #588699;
    font-weight: 500;
}
.b3-dialog__container a:hover,
.b3-dialog__container .b3-card__info a:hover {
    outline: 0;
    text-decoration: underline;
    color: var(--b3-menu-highlight-color);
}
.b3-dialog__container .b3-card__info a {
    color: #74c1e2;
    text-decoration: none;
}

/* 设置/搜索弹窗的关闭按钮 */

.b3-dialog__container .b3-dialog__close {
    color: #aec0cf;
}
.b3-dialog__container svg:hover {
    color: var(--b3-menu-highlight-color);
    background: transparent;
    /* transform: scale(1.2); */
    transition: all 0.1s ease-in-out;
}
.b3-dialog__container svg.b3-dialog__close:hover {
    transform: scale(1.2);
}
.b3-dialog__container svg {
    transition: all 0.1s ease-in-out;
}
.b3-dialog__container .b3-dialog__close:hover {
    color: #bccddb;
}

.protyle-title__input,
.layout__wnd--active .protyle-content,
.layout__wnd--active .protyle-title .protyle-title__input {
    /* 当前编辑窗口保持主背景色 */
    background-color: transparent;
}

/* ----------------------------标签页、页签样式 Start----------------------------------------- */

/* 已打开的标签页 */
.layout-tab-bar .item--focus,
.layout__wnd--active .layout-tab-bar .item--focus {
    border-radius: 7px 7px 0px 0px;
    border: 0px solid transparent;
    border-top: 0px solid transparent;
    font-weight: 400;
    font-size: 15px;
    background-color: #16232f;
    color: var(--b3-menu-highlight-focus-color);
}

/* ----------------------------标签页、页签样式 END----------------------------------------- */

.toolbar__item--action1:hover {
    color: #ffffff9f !important;
    background-color: var(--b3-theme-error);
}

/* 字体样式弹窗清除样式按钮颜色 */
.protyle-font__remove {
    border: 1px;
    align-self: center;
    padding: 0;
    color: #b7d1eb;
    white-space: nowrap;
    background-color: #204343;
}

/* 图片大小调整手柄 */
.protyle-wysiwyg [data-node-id] .img .protyle-action__drag {
    height: 50%;
    background: #5dd3bf;
    top: 25%;
}

/* 调整kbd */
.b3-typography kbd,
.protyle-wysiwyg kbd,
.protyle-wysiwyg span[data-type~='kbd'] {
    display: inline-flex;
    padding: 2px 4px;
    font-size: 85%;
    margin: 0px 2px;
    background-color: #112235;
    box-shadow: 0 0 1px #889fbd inset;
    transform: translateY(-1.5px);
}

/* 更改空行提示 */
.protyle-wysiwyg [data-node-id]:not(.code-block) > [spellcheck='false']:empty:after {
    /* 避免代码块也出现空行提示  */
    content: '';
    color: #9fa5a675;
}
/* 空列表出现提示 */
.protyle-wysiwyg [data-subtype='t'] > .li > .p:nth-of-type(2) > [spellcheck='false']:empty:after {
    content: 'To-do';
    color: #9fa5a675;
}

.protyle-wysiwyg [data-subtype='u'] > .li > .p:nth-of-type(2) > [spellcheck='false']:empty:after,
.protyle-wysiwyg [data-subtype='o'] > .li > .p:nth-of-type(2) > [spellcheck='false']:empty:after {
    content: 'List';
    color: #9fa5a675;
}

.file-tree__close.fn__flex-1 > li {
    opacity: 1;
    border-top: 1px solid rgba(4, 21, 25, 0.589);
}

.file-tree [data-type='new']:hover {
    background-color: #21324c;
}

/* pdf双链 */
.protyle-wysiwyg [data-node-id] span[data-type='file-annotation-ref'] {
    color: #d2757d;
    padding-bottom: 0em;
    box-sizing: border-box;
    height: 1.5em;
    opacity: 1;
    border-bottom: 1px dashed #d2757d;
}
/* 隐藏默认主题加的🔖，原因：我觉得很多余 */
/* .protyle-wysiwyg [data-node-id] span[data-type='file-annotation-ref']::before {
    display: none;
} */
.protyle-wysiwyg [data-node-id] span[data-type='file-annotation-ref']:hover {
    color: var(--b3-protyle-inline-blockref-hover-color); /*更改鼠标悬浮的颜色*/
    border-bottom: 1px dashed var(--b3-protyle-inline-blockref-hover-color); /*下划线可以去掉*/
}
/* pdf搜索高亮 */
.textLayer .highlight.selected {
    background-color: #f7e25ab9;
}

/* 悬浮工具栏样式 */

.pdf__util.b3-menu.pdf__util--hide {
    padding: 2px 4px 5px;
    border: 1px solid #aae6eb;
}
.pdf__util.b3-menu .fn__flex {
    padding: 4px 4px 0px !important;
}

/* 自定义颜色选框调整宽高 */

.b3-color__square {
    height: 23px;
    width: 23px;
    border-radius: 4px;
}
.b3-color__square[data-type='color'] {
    box-shadow: 0 0 0 1.5px #9b9ea1 inset;
}

.b3-color__square[data-type='backgroundColor'] {
    box-shadow: 0 0 0 1.5px var(--b3-border-color) inset;
}

.b3-color__square:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1.5px 1px var(--b3-theme-on-background) inset;
}

.pdf__util.b3-menu .b3-color__square {
    height: 25px;
    width: 25px;
    border-radius: 10px;
}

/* pdf光标选中文本样式 */
.pdf__outer ::selection {
    /* 颜色不能加透明度，不然有叠加层  */
    background-color: #4d6e7d;
}
/* pdf矩形选框增加border宽度 */
.pdf__rect.popover__block > div[style*='border: 2px solid var(--b3-pdf-'] {
    border-width: 3px !important;
}
.pdf__resize {
    border-width: 3px !important;
}

/* 区分侧栏聚焦和未聚焦状态 */
.fn__flex-1.fn__flex-column > .block__icons--active {
    background-color: rgba(63, 103, 136, 0.12) !important;
}

/* -------------------主题增强面板区分度-------------------- */
.block__logo {
    font-weight: 600;
    color: var(--b3-menu-highlight-color);
}
/* 加强笔记本强调 */

.b3-list--files [data-type='navigation-root'] .b3-list-item__text,
.b3-list--files [data-type='navigation-root'] {
    font-weight: 600;
    color: #3ef5dd !important;
}
.b3-list--files [data-type='navigation-root'] .b3-list-item__toggle {
    color: #3ef5dd;
}

/* 标签搜索面板区分 */
[id='globalSearchList'] {
    background-color: #16232f;
    border-right: 2px solid #000000;
}
.fn__flex-column.fn__flex-1 {
    background-color: #16232f;
    /* 这个颜色不错？ */
}

/* 前进后退disable颜色更改 */
.toolbar__item--disabled,
.toolbar__item--disabled:hover {
    color: #374848;
    cursor: not-allowed;
}

.protyle-wysiwyg [data-node-id].li > [data-node-id]:before {
    border-left: 1px solid #4f565e;
    width: 0.95px;
}

/* emoji选中背景 */
.emojis__item--current {
    background: rgba(103, 182, 235, 0.658);
    border-radius: 4px;
}

/* 分割线 */

/* .protyle-wysiwyg [data-node-id].hr > div,
.b3-typography hr {
    border-bottom: 2px dashed #c9d1d9c7;
    text-align: center;
}
.protyle-wysiwyg [data-node-id].hr > div::before {
    content: '\2735';
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    visibility: visible;
} */
.b3-typography hr {
    display: block;
    position: relative;
    height: 13px;
    overflow: visible;
}
.b3-typography hr::after {
    content: '\2735';
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px;
}

/* ------------集市Readme--Start---------*/

/* 代码块样式 */
#configBazaarReadme code.hljs {
    background-color: #26333f;
}
/* ------------集市Readme-End----------*/

/* 滚动条 */

/* 已关闭的笔记本样式 */
.file-tree .b3-list.fn__flex-column.fn__flex-1 > .b3-list-item:first-child {
    background-color: #53474b;
}

.layout__resize--lr:after {
    width: 2px;
}
.layout__resize:after {
    background-color: black;
}

.layout-tab-container {
    background-color: #031c25;
}

.protyle-toolbar {
    background-color: #2d3245;
}
.b3-menu,
.protyle-util {
    box-shadow: 0px 0px 12px #0a0a0a;
}

/* 折叠标题优化 */
.protyle-wysiwyg div[fold='1'][data-type='NodeHeading'] {
    opacity: 0.7;
}
.protyle-wysiwyg div[fold='1'][data-type='NodeHeading']:before {
    background-color: transparent !important;
    border-radius: 0px;
    width: 0px !important;
    height: 0px !important;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    border-left: 6px solid #4271b3 !important;
    left: -13px !important;
    margin-top: -6px;
}

/* 设置备注样式 */
.b3-typography span[data-type~='inline-memo'],
.protyle-wysiwyg span[data-type~='inline-memo'] {
    border-bottom: 2px solid var(--b3-font-color2);
}

.tooltip--memo {
    border-top: 3px solid #fff001;
    background-color: #616963;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: var(--b3-theme-on-background);
    min-width: 100px;
}



#calendarPanel {
    background-color: #fff !important;
    filter: hue-rotate(180deg) invert(90%);
    box-shadow: none !important;
}

/* 选项栏背景色 */
.b3-select {
    background-color: #2e424e;
}

/* 折叠的有序列表调亮 */
.li[data-subtype='o'][fold='1'] .protyle-action--order,
.li[data-subtype='o'][fold='1'] .protyle-action:after {
    color: #a0b1c6 !important;
}

/* /💄dark主题pdf工具栏颜色调整 */
.pdf__toolbar {
    background-color: #0b1b2a;
}
::selection {
    background-color: #84aef347;
}

/* 修改分割线 hr 颜色 */
.protyle-wysiwyg [data-node-id].hr > div:after {
    background-color: #5e829b;
}

/* dark 主题图片背景设置为白色，防止透明图片难以看清内容 */
.b3-typography img,
.protyle-wysiwyg img {
    max-width: 100%;
    background-color: #fff;
}



[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id].bq, .b3-typography blockquote{
    color: #a79d9d !important;
}

.b3-typography blockquote,
.protyle-wysiwyg [data-node-id].bq:not([style*='background-color']) {
    /* border: 1px solid var(--custom-blockquote-border-color); */
    border-left: 0.25em solid #456c74 !important;
}

