

/* -------------------搬运语雀的提示区块 ---------Start----------------------------*/

/* 优化引述块 */

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background1);'] {
    color: var(---b3-card-error-color);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background2);'] {
    color: var(--b3-card-warning-color);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background3);'] {
    color: var(--b3-card-info-color);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background4);'] {
    color: var(--b3-card-success-color);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background5);'] {
    color: var(--b3-font-color5);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background6);'] {
    color: var(--b3-font-color6);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background7);'] {
    color: var(--b3-font-color7);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background8);'] {
    color: var(--b3-font-color8);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background9);'] {
    color: var(--b3-font-color9);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background10);'] {
    color: var(--b3-font-color10);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background11);'] {
    color: var(--b3-font-color11);
}


.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background12);'] {
    color: var(--b3-font-color12);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background13);'] {
    color:  var(--b3-font-color13);
}


/* 优化代码块和行内代码 */
[data-theme-mode="light"] .bq[style*='background-color'] .code-block {
      /* 添加阴影 */
        box-shadow: 0 0 0 1px #1e25351a;
}
[data-theme-mode="dark"] .bq[style*='background-color'] .code-block {
    /* 添加阴影 */
    box-shadow: 0 0 0 1px #4042463d;
}

.bq[style*='background-color: var(--b3-card-error-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-error-background);'] span[data-type~='code'] {
    color: var(--b3-card-error-color) !important;
    background-color: #f0c4b959 !important;
}
.bq[style*='background-color: var(--b3-card-error-background);'] .code-block {
    background-color: #f6d8d382 !important;
}
.bq[style*='background-color: var(--b3-card-warning-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-warning-background);'] span[data-type~='code'] {
    color: var(--b3-card-warning-color) !important;
    background-color: #f0dfb959 !important;
}
 .bq[style*='background-color: var(--b3-card-warning-background);'] .code-block {
    background-color: #f7e9d08a !important;
}
.bq[style*='background-color: var(--b3-card-info-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-info-background);'] span[data-type~='code'] {
    color: var(--b3-card-info-color) !important;
    background-color: #bedaeb59 !important;
}
 .bq[style*='background-color: var(--b3-card-info-background);'] .code-block {
    background-color: #d2e6f4b0 !important;
}

.bq[style*='background-color: var(--b3-card-success-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-success-background);'] span[data-type~='code'] {
    color: var(--b3-card-success-color) !important;
    background-color: #c7ebbe59 !important;
}

.bq[style*='background-color: var(--b3-card-error-background);'] .code-block {
    background-color: var(--b3-card-error-background) !important;
}

.bq[style*='background-color: var(--b3-card-warning-background);'] .code-block {
    background-color: var(--b3-card-warning-background) !important;
}

.bq[style*='background-color: var(--b3-card-info-background);'] .code-block {
    background-color: var(--b3-card-info-background) !important;

}

.bq[style*='background-color: var(--b3-card-success-background);'] .code-block {
    background-color: var(--b3-card-success-background) !important;

}

.bq[style*='background-color: var(--b3-font-background1);'] .code-block {
    background-color: var(--b3-font-background1) !important;
}

.bq[style*='background-color: var(--b3-font-background2);'] .code-block {
    background-color: var(--b3-font-background2) !important;
}

.bq[style*='background-color: var(--b3-font-background3);'] .code-block {
    background-color: var(--b3-font-background3) !important;
}

.bq[style*='background-color: var(--b3-font-background4);'] .code-block {
    background-color: var(--b3-font-background4) !important;
}

.bq[style*='background-color: var(--b3-font-background5);'] .code-block {
    background-color: var(--b3-font-background5) !important;
}

.bq[style*='background-color: var(--b3-font-background6);'] .code-block {
    background-color: var(--b3-font-background6) !important;
}

.bq[style*='background-color: var(--b3-font-background7);'] .code-block {
    background-color: var(--b3-font-background7) !important;
}

.bq[style*='background-color: var(--b3-font-background8);'] .code-block {
    background-color: var(--b3-font-background8) !important;
}

.bq[style*='background-color: var(--b3-font-background9);'] .code-block {
    background-color: var(--b3-font-background9) !important;
    box-shadow: 0 0 0 1px #06080d1f !important;
}

.bq[style*='background-color: var(--b3-font-background10);'] .code-block {
    background-color: var(--b3-font-background10) !important;
}

.bq[style*='background-color: var(--b3-font-background11);'] .code-block {
    background-color: var(--b3-font-background11) !important;
}

.bq[style*='background-color: var(--b3-font-background12);'] .code-block {
    background-color: var(--b3-font-background12) !important;
}

.bq[style*='background-color: var(--b3-font-background13);'] .code-block {
    background-color: #c4c6cc !important;
}
[data-theme-mode="dark"] .bq[style*='background-color: var(--b3-font-background13);'] .code-block {
    background-color: var(--b3-font-background13)!important;
}

/* 优化列表线 */
.bq[style*='background-color: var(--b3-card-error-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #debeb9 !important;
}

.bq[style*='background-color: var(--b3-card-warning-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #d6c0a3 !important;
}
.bq[style*='background-color: var(--b3-card-info-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #83a8c2 !important;
}
.bq[style*='background-color: var(--b3-card-success-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #a7c4b8 !important;
}

/* 选中块的优化 */
.protyle-wysiwyg--select.bq[style*='background-color:'] > div {
    background-color: rgba(31, 138, 93, 0.12) !important;
}


/* --------------------------------------优化引述块内引述块------------------------------ */
/* 引述块添加背景色，嵌套引述块的border颜色为对应颜色 */
.protyle-wysiwyg .bq[style*='background-color: var(--b3-card-error-background);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color1) !important;
    color: var(--b3-card-error-color);
}
.protyle-wysiwyg .bq[style*='background-color: var(--b3-card-warning-background);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color2) !important;
    color: var(--b3-card-warning-color);
}


.protyle-wysiwyg .bq[style*='background-color: var(--b3-card-info-background);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color3) !important;
    color: var(--b3-card-info-color);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-card-success-background);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color4) !important;
    color: var(--b3-card-success-color);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background1);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color1) !important;
    color: var(--b3-font-color1);
}


.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background2);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color2) !important;
    color: var(--b3-font-color2);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background3);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color3) !important;
    color: var(--b3-font-color3);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background4);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color4) !important;
    color: var(--b3-font-color4);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background5);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color5) !important;
    color: var(--b3-font-color5);
}


.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background6);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color6) !important;
    color: var(--b3-font-color6);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background7);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color7) !important;
    color: var(--b3-font-color7);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background8);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color8) !important;
    color: var(--b3-font-color8);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background9);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color9) !important;
    color: var(--b3-font-color9);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background10);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color10) !important;
    color: var(--b3-font-color10);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background11);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color11) !important;
    color: var(--b3-font-color11);
}


.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background12);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color12) !important;
    color: var(--b3-font-color12);
}

.protyle-wysiwyg .bq[style*='background-color: var(--b3-font-background13);'] .bq {
    border-radius: 0px !important;
    border-left: 0.3em solid var(--b3-font-color13) !important;
    color: var(--b3-font-color13);
}

/* 引述块添加卡片背景色，嵌套引述块的border颜色可以进一步修改*/
.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-card-error-background);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color1) !important;
    color: var(--b3-card-error-color) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-card-warning-background);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color2) !important;
    color: var(--b3-card-warning-color) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-card-info-background);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color3) !important;
    color: var(---b3-card-info-color) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-card-success-background);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color4) !important;
    color: var(--b3-card-success-color) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background1);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color1) !important;
    color: var(--b3-font-color1) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background2);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color2) !important;
    color: var(--b3-font-color2) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background3);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color3) !important;
    color: var(--b3-font-color3) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background4);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color4) !important;
    color: var(--b3-font-color4) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background5);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color5) !important;
    color: var(--b3-font-color5) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background6);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color6) !important;
    color: var(--b3-font-color6) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background7);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color7) !important;
    color: var(--b3-font-color7) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background8);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color8) !important;
    color: var(--b3-font-color8) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background9);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color9) !important;
    color: var(--b3-font-color9) !important;
}

.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background10);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color10) !important;
    color: var(--b3-font-color10) !important;
}


.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background11);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color11) !important;
    color: var(--b3-font-color11) !important;
}


.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background12);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-color12) !important;
    color: var(--b3-font-color12) !important;
}


.protyle-wysiwyg [data-node-id].bq .bq[style*='background-color: var(--b3-font-background13);'] {
    border: 0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-left: 0.3em solid var(--b3-font-background13) !important;
    color: var(--b3-font-color13) !important;
}
[data-theme-mode="light"] [data-node-id].bq .bq[style*='background-color: var(--b3-font-background13);'] {
    color: var(--b3-theme-on-background) !important;
}




/* -------------------搬运语雀的提示区块 --END-----------------------------------*/
	