

/* -------------------搬运语雀的提示区块 ---------Start----------------------------*/
/* 添加border */
/* .bq[style*='background-color: var(--b3-card-error-background);'] {
    border: 1px solid var(--b3-font-color1) !important;
}

.bq[style*='background-color: var(--b3-card-warning-background);'] {
    border: 1px solid var(--b3-font-color2) !important;
}

.bq[style*='background-color: var(--b3-card-info-background);'] {
    border: 1px solid var(--b3-font-color3) !important;
}

.bq[style*='background-color: var(--b3-card-success-background);'] {
    border: 1px solid var(--b3-font-color4) !important;
}
.bq[style*='background-color: var(--b3-font-background1);'] {
    border: 1px solid var(--b3-font-color1) !important;
}

.bq[style*='background-color: var(--b3-font-background2);'] {
    border: 1px solid var(--b3-font-color2) !important;
}

.bq[style*='background-color: var(--b3-font-background3);'] {
    border: 1px solid var(--b3-font-color3) !important;
}

.bq[style*='background-color: var(--b3-font-background4);'] {
    border: 1px solid var(--b3-font-color4) !important;
}

.bq[style*='background-color: var(--b3-font-background5);'] {
    border: 1px solid var(--b3-font-color5) !important;
}
.bq[style*='background-color: var(--b3-font-background6);'] {
    border: 1px solid var(--b3-font-color6) !important;
}
.bq[style*='background-color: var(--b3-font-background7);'] {
    border: 1px solid var(--b3-font-color7) !important;
}
.bq[style*='background-color: var(--b3-font-background8);'] {
    border: 1px solid var(--b3-font-color8) !important;
}
.bq[style*='background-color: var(--b3-font-background9);'] {
    border: 1px solid var(--b3-font-color9) !important;
}
.bq[style*='background-color: var(--b3-font-background10);'] {
    border: 1px solid var(--b3-font-color10) !important;
}
.bq[style*='background-color: var(--b3-font-background11);'] {
    border: 1px solid var(--b3-font-color11) !important;
}
.bq[style*='background-color: var(--b3-font-background12);'] {
    border: 1px solid var(--b3-font-color12) !important;
}
.bq[style*='background-color: var(--b3-font-background13);'] {
    border: 1px solid var(--b3-font-color13) !important;
} */

/* 优化代码块和行内代码 */

.bq[style*='background-color: var(--b3-card-error-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-error-background);'] span[data-type~='code'] {
    color: var(--b3-card-error-color) !important;
    background-color: #f0c4b959 !important;
}
[data-theme-mode="light"] .bq[style*='background-color: var(--b3-card-error-background);'] .hljs {
    background-color: #f6d8d382 !important;
}
.bq[style*='background-color: var(--b3-card-warning-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-warning-background);'] span[data-type~='code'] {
    color: var(--b3-card-warning-color) !important;
    background-color: #f0dfb959 !important;
}
[data-theme-mode="light"]  .bq[style*='background-color: var(--b3-card-warning-background);'] .hljs {
    background-color: #f7e9d08a !important;
}
.bq[style*='background-color: var(--b3-card-info-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-info-background);'] span[data-type~='code'] {
    color: var(--b3-card-info-color) !important;
    background-color: #bedaeb59 !important;
}
[data-theme-mode="light"]  .bq[style*='background-color: var(--b3-card-info-background);'] .hljs {
    background-color: #d2e6f4b0 !important;
}
.bq[style*='background-color: var(--b3-card-success-background);'] span[data-type~='kbd'],
.bq[style*='background-color: var(--b3-card-success-background);'] span[data-type~='code'] {
    color: var(--b3-card-success-color) !important;
    background-color: #c7ebbe59 !important;
}
[data-theme-mode="light"]  .bq[style*='background-color: var(--b3-card-success-background);'] .hljs {
    background-color: #d9f4d6c7 !important;
}

/* 优化列表线 */
.bq[style*='background-color: var(--b3-card-error-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #debeb9 !important;
}

.bq[style*='background-color: var(--b3-card-warning-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #d6c0a3 !important;
}
.bq[style*='background-color: var(--b3-card-info-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #83a8c2 !important;
}
.bq[style*='background-color: var(--b3-card-success-background);']
    [data-node-id].li
    > [data-node-id]:before {
    border-left: 1px solid #a7c4b8 !important;
}

/* 选中块的优化 */
.protyle-wysiwyg--select.bq[style*='background-color:'] > div {
    background-color: rgba(31, 138, 93, 0.12) !important;
}


/* -------------------搬运语雀的提示区块 --END-----------------------------------*/
	