:root {
    --custom-code-background: #bfc9ce;
    --custom-code-hover: #5f7b8c;
}


/* 代码块 */
.protyle-wysiwyg .code-block[fold='1'] .hljs {
    opacity: 0;
}

/* .b3-typography .code-block, */
.protyle-wysiwyg .code-block {
    padding: 0;
    background: var(--b3-protyle-code-background);
    border-radius: 4px;
    box-shadow: 0 0 0 1px #1e25351a;
}

/* .b3-typography .hljs, */
.protyle-wysiwyg .hljs {
    background-color: var(--b3-protyle-code-background) !important;
    padding: 34px 15px 15px 15px;
}

.b3-typography .hljs {
    padding: 15px 15px 15px 15px;
}

/* 代码行数 */
.b3-typography .hljs.protyle-linenumber,
.protyle-wysiwyg .hljs.protyle-linenumber {
    padding-left: 0;
    /* margin-left: 74px; */
}

.b3-typography .protyle-linenumber__rows,
.protyle-wysiwyg .protyle-linenumber__rows {
    padding: 34px 0 22px;
    opacity: 0.7;
    background-color: var(--b3-protyle-code-background);
}

.b3-typography .protyle-linenumber__rows span::before,
.protyle-wysiwyg .protyle-linenumber__rows span::before {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* 代码语言选择框 */
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    /* 代码语言默认显示 */
    opacity: 1;
    background: var(--b3-protyle-code-background);
}

.protyle-wysiwyg .code-block .protyle-action__language {
    background-color: transparent;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-flex;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0 5px;
    margin-left: 0.5em;
    font-size: 12px !important;
}

.protyle-wysiwyg .code-block .protyle-action__language:hover {
    background-color: var(--custom-code-background);
}

.protyle-wysiwyg .code-block .protyle-action__language:active {
    background-color: var(--custom-code-background);
}

/* 代码复制按钮和菜单 */
/* .protyle-wysiwyg .code-block .protyle-action__copy {
    display: inline-flex;
    width: auto;
}
.protyle-wysiwyg .code-block .protyle-action__copy svg {
    margin: 0;
    width: 11px;
    height: 11px;
    padding: 0px 0px;
    margin: auto 0;
    margin-right: 6px;
} */
/* .protyle-wysiwyg .code-block .protyle-action__copy::after {
    opacity: 1;
    transform: unset;
    margin: -4px 0px;
    padding: 0;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    outline: unset;
    position: unset;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    display: inline-flex;
    font-size: 11px;
    position: unset;
    z-index: 0;
} */
/* .protyle-wysiwyg .code-block .protyle-action__copy::after {
    content: 'Copy';
} */
.protyle-wysiwyg .code-block .protyle-action__copy,
.protyle-wysiwyg .code-block .protyle-action__menu {
    background-color: #0206056b;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.protyle-wysiwyg .code-block .protyle-action__copy:hover,
.protyle-wysiwyg .code-block .protyle-action__menu:hover {
    background-color: var(--custom-code-hover);
}

.protyle-wysiwyg .code-block .protyle-action__copy:active,
.protyle-wysiwyg .code-block .protyle-action__menu:active {
    background-color: var(--custom-code-hover);
}

.protyle-wysiwyg .code-block:hover.protyle-action__language {
    opacity: 1;
}

.protyle-wysiwyg .code-block[fold='1'] {
    height: 36px !important;
}

.protyle-wysiwyg .code-block[fold='1'] .protyle-icon {
    margin-top: 1.5px !important;
}




/* ------代码语言栏居右--------- */
/* .b3-typography .code-block .protyle-action,
.protyle-wysiwyg [data-node-id].code-block .protyle-action {
    left: auto;
    right: 4px;
} */

/* ---------mac三点--------- */
/* .code-block::after {
    content: ' ';
    position: absolute;
    background: #fa625c;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 50%;
    top: 10px;
    left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
} */



/* 代码块添加margin bottom */
.protyle-wysiwyg [data-node-id].li>[data-node-id].code-block {
    margin-bottom: 10px;
}




/* ---------------------------代码块限制最大高度------------------------------*/
/* 限制代码块高度，设置超过高度，出现滚动条 */
.protyle-wysiwyg .code-block {
    max-height: 800px;
    overflow: auto;

}

/* 防止因代码行号和代码渲染内容导致出现多重滚动条 */
.protyle-wysiwyg .hljs,
.protyle-linenumber__rows {
    height: max-content;
}

/* 调整代码块命名、别名等块属性位置 */
.protyle-wysiwyg .code-block .protyle-attr {
    top: -2px;
}

/* 代码块功能按钮：包括代码语言、复制和菜单按钮 */
.protyle-wysiwyg .code-block .protyle-action {
    /* 为了代码块复制按钮可以sticky，需要设置高度 */
    height: 100%;
    /* 取消top高度，否则会出现代码块会被撑开出现滚动条 */
    top: 0px !important;
    /* 需要禁止鼠标点击，否则浮在上面代码块上无法点击 */
    pointer-events: none !important;
}

/* 代码块语言 */
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    margin-top: 6px;
    position: absolute;
    top: 6px;
    position: sticky;
    /* 由于父元素禁止点击，所以要子元素允许点击 */
    pointer-events: all !important;
    align-self: flex-start;
}

/* 代码块复制和菜单按钮 */
.protyle-wysiwyg .code-block .protyle-action .b3-tooltips__nw {
    /* 调整位置 */
    top: 17px;
    /* 代码块复制按钮sticky，不跟随滚动 */
    position: sticky;
    /* 由于父元素禁止点击，所以要子元素允许点击 */
    pointer-events: all !important;
}

/* 代码块复制按钮和菜单按钮的提示文字放在下方 */
.protyle-wysiwyg .code-block .protyle-action .b3-tooltips__nw::after {
    top: 100%;
    bottom: inherit;
    margin-top: 5px;
}

.protyle-wysiwyg .code-block .protyle-action .b3-tooltips__nw::before {
    top: 100%;
    bottom: inherit;
    rotate: 180deg;
    margin-top: -4px;
}

/* 导出pdf取消限制最大高度 */
#preview .protyle-wysiwyg .code-block {
    max-height: none;
}
/* ---------------------------代码块限制最大高度------------------------------*/