/* ----------如果希望取消挖空效果，请删除这段代码 Start---------------- */
/* 修改高亮为挖空效果，但是预览模式关闭（毕竟需要导出） */
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    color: transparent !important;
    transition: color 2s ease-in-out;
    background-color: transparent !important;
    border-bottom: 2px solid var(--b3-font-color4) !important;
}

.protyle-wysiwyg  span[data-type~=mark]:hover {
    color: var(--b3-protyle-inline-mark-color) !important;
    transition: color 0.2s ease-in-out;
}

/* 设置导出样式并没有用 */
/* #preview.protyle-wysiwyg span[data-type~='mark']{
    color: transparent;
    border-bottom: 2px solid var(--b3-font-color4);
} */

/* -------------如果希望取消挖空效果，请删除这段代码 END----------------------------------- */