name: CI

on:
  push:
    tags: 
      - 'v*'

jobs:
  build:
  
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v3
      
      - name : jq theme.json
        run: |
          cat theme.json | jq .version
          
      - name: package
        run: |
          find . -not -path '*/\.*' -type f -print | zip package.zip -@
      
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "package.zip"
          token: ${{ secrets.GITHUB_TOKEN }}